<jhi-alert></jhi-alert>
<div class="row wrap">
    <div class="col-md-12">
        <h2><strong data-translate="approvalRequest.title">approvalRequest Lists</strong></h2>
    </div>
    <div class="col-md-12">
        <p class="searchInfo">
            <span>총 <span class="color_red">{{vm.totalItems}}</span>개의 나의 승인요청 목록이 존재합니다.</span>
        </p>
        <div class="searchBox">
            <span class="form-inline">
                <label for="approvalTypes" data-translate="approval.type">분류</label>
                <select id="approvalTypes" class="form-control input-sm" ng-model="vm.approvalType"
                        ng-options="type.type as type.name for type in vm.approvalTypes track by type.type">
                    <option value="">전체</option>
                </select>
            </span>
            <span class="form-inline">
                <label for="approvaStatus" data-translate="approval.status">진행상태</label>
                <select id="approvaStatus" class="form-control input-sm" ng-model="vm.state"
                        ng-options="status.key as status.text for status in vm.status track by status.text">
                    <option value="">전체</option>
                </select>
            </span>
            <span class="form-inline">
                <label for="approvalTitle" data-translate="approval.list_title">제목검색</label>
                <input type="text" style="width:50%;" class="form-control input-sm" id="approvalTitle" name="approvalTitle" ng-model="vm.title"
                       ng-keypress="($event.charCode==13)? vm.searching() : return"/>
            </span>
            <span class="btnBox">
                <button type="button" class="btn search-btn" data-dismiss="modal" ng-click="vm.searching()">
                    <span data-translate="entity.action.search">Search</span>
                </button>
            </span>
        </div>
        <div class="table-responsive voffset3">
            <table class="table tableFixed">
                <colgroup>
                    <col style="width:9%"/>
                    <col/>
                    <col style="width:35%"/>
                    <col style="width:13%"/>
                    <col style="width:100px"/>
                </colgroup>
                <thead>
                <tr>
                    <th scope="col" id="approvalType" ng-mousedown="vm.sorting('approvalType')"><span data-translate="approval.type">분류</span><i id="approvalType" class="sort-position glyphicon glyphicon-triangle-bottom"></i>
                    </th>
                    <th scope="col" id="title" ng-mousedown="vm.sorting('title')"><span data-translate="approval.list_title">제목</span><i id="title"
                                                                                                                                         class="sort-position glyphicon glyphicon-triangle-bottom"></i>
                    </th>
                    <th scope="col" id="detailComment" ng-mousedown="vm.sorting('detailComment')"><span data-translate="approval.content">내용</span><i id="detailComment"
                                                                                                                                          class="sort-position glyphicon glyphicon-triangle-bottom"></i>
                    </th>
                    <th scope="col" id="state" data-translate="approval.status">승인상태</th>
                    <th scope="col" data-translate="approval.etc">비고</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="approval in vm.Approvals">
                    <td scope="row">{{approval.type}}</td>
                    <td class="hover" ng-click="vm.showDetail(approval)"><span class="dotContainer" style="width:98%" title="{{approval.title}}">{{approval.title}}</span></td>
                    <td>{{ approval.detailComment }}</td>
                    <td class="t_center">
                        <span>{{ approval.decision.name }}</span>
                    </td>
                    <td class="t_center">
                        <!-- 승인요청문구가 필수에서 제외되었으므로, detailComment가 null인 조건 추가  -->
                        <button has-authority="ROLE_HASLOGIN" ng-if="(!approval.detailComment || approval.detailComment.indexOf('//') < 0) && approval.state.key != 'CLOSED'"
                                class="btn btn-danger btn-xs" ng-click="vm.approvalCancel(approval)">취소처리
                        </button>
                        <button ng-if="approval.detailComment.indexOf('//') > -1 && approval.state.key !='CLOSED'"
                                class="btn btn-default btn-xs" ng-click="vm.loadAll()">새로고침
                        </button>
                        <!--<button ng-if="approval.state == 'CLOSED'" class="btn btn-default btn-xs" ng-click="vm.reqApproval(approval)">승인요청</button>-->
                    </td>
                </tr>
                <tr ng-if="vm.Approvals <= 0">
                    <td colspan="5" class="t_center">승인내역이 존재하지 않습니다.</td>
                </tr>
                </tbody>
            </table>
            <div class="text-center">
                <ul uib-pagination total-items="vm.totalItems" items-per-page="vm.stateParams.size" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></ul>
            </div>
        </div>
    </div>
</div>
