<div class="row wrap">
    <div class="col-md-12 information">
        <h2><strong>이용기관 사용자 안내</strong></h2>


        <!-- <uib-tabset active="active" class="voffset6">
            <uib-tab index="0" heading="이용기관 등록이 안 되어있는 경우" ng-click="vm.ViewTabs();">
                <div class="voffset4" style="margin-left:20px"></div>
            </uib-tab>
            <uib-tab index="1" heading="이용기관 등록이 되어있는 경우" ng-click="vm.ViewTabs();">
                <div class="voffset4" style="margin-left:20px"></div>
            </uib-tab>
        </uib-tabset> -->

        
        <div class="infoUse type2">
            <div class="swiper-pagination"></div>
            <div class="computer">
                <div class="org-use-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <!-- <div class="org_swiper_wrap">
                                <p class="title1">사업자등록번호 조회</p>
                            </div> -->
                        </div>
                        <div class="swiper-slide">
                            <!-- <div class="org_swiper_wrap">
                                <p class="title1">이용안내 동의(Portal 및 개인정보수집)</p>
                            </div> -->
                        </div>
                        <div class="swiper-slide">
                            <!-- <div class="org_swiper_wrap">
                                <p class="title1">이용기관 정보 입력 및 인증서류 업로드</p>
                            </div> -->
                        </div>
                        <div class="swiper-slide">
                            <!-- <div class="org_swiper_wrap">
                                <p class="title1">승인결과 수신 및 로그인</p>
                            </div> -->
                        </div>
                    </div>
                    <!-- Add Pagination -->
                </div>
                <a href="" class="swiper-button-next"></a>
                <a href="" class="swiper-button-prev"></a>
                <!-- <div class="swiper-pagination two-line"></div> -->
            </div>
        </div> 
        
        <!--
        <div class="infoUse" ng-show="vm.tabs" style="margin-top:0;">
            <div class="col-md-3 left-nav">
                <div>
                    <i></i>
                    <span><small>STEP1</small>사업자등록번호<br/>조회</span>
                </div>
                <div ng-style="{'margin-top': check_ie9? '46px' : check_ie? '47px' : check_Edge? '47px' : '50px'}">
                    <i></i>
                    <span><small>STEP2</small>이용안내 동의<br/>(Portal 및 개인정보수집)</span>
                </div>
                <div ng-style="{'margin-top': check_ie9? '25px' : check_ie? '26px' : check_Edge? '26px' : '28px'}">
                    <i></i>
                    <span><small>STEP3</small>사용자 정보 입력 및<br/>등록 요청</span>
                </div>
                <div ng-style="{'margin-top': check_ie9? '24px' : check_ie? '25px' : check_Edge? '25px' : '28px'}">
                    <i></i>
                    <span><small>STEP4</small>승인결과 문자수신</span>
                </div>
                <div ng-style="{'margin-top': check_ie9? '48px' : check_ie? '48px' : check_Edge? '49px' : '50px'}">
                    <i></i>
                    <span><small>STEP5</small>Portal 로그인</span>
                </div>
            </div>
            <div class="col-md-9 computer">
                <div class="org-use-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"></div>
                        <div class="swiper-slide"></div>
                        <div class="swiper-slide"></div>
                        <div class="swiper-slide"></div>
                        <div class="swiper-slide"></div>
                    </div>
                </div>
                <div class="swiper-pagination two-line"></div>
            </div>
        </div> 
        -->

        <!-- <div class="infoUse" ng-show="!vm.tabs" style="margin-top:0;">
            <div class="col-md-3 left-nav">
                <div>
                    <i></i>
                    <span><small>STEP1</small>사업자등록번호<br/>조회</span>
                </div>
                <div ng-style="{'margin-top': check_ie9? '24px' : check_ie? '25px' : check_Edge? '25px' : '28px'}">
                    <i></i>
                    <span><small>STEP2</small>이용안내 동의<br/>(Portal 및 개인정보수집)</span>
                </div>
                <div ng-style="{'margin-top': check_ie9? '25px' : check_ie? '26px' : check_Edge? '26px' : '28px'}">
                    <i></i>
                    <span><small>STEP3</small>이용기관 정보 입력 및<br />인증서류 업로드</span>
                </div>
                <div ng-style="{'margin-top': check_ie9? '24px' : check_ie? '25px' : check_Edge? '26px' : '28px'}">
                    <i></i>
                    <span><small>STEP4</small>등록 요청</span>
                </div>
                <div ng-style="{'margin-top': check_ie9? '48px' : check_ie? '48px' : check_Edge? '48px' : '50px'}">
                    <i></i>
                    <span><small>STEP5</small>선택한 제공기관 관리자<br />승인결과 문자수신</span>
                </div>
                <div ng-style="{'margin-top': check_ie9? '24px' : check_ie? '25px' : check_Edge? '25px' : '28px'}">
                    <i></i>
                    <span><small>STEP6</small>Portal 로그인</span>
                </div>
            </div>
            <div class="col-md-9 computer">
                <div class="none-org-use-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"></div>
                        <div class="swiper-slide"></div>
                        <div class="swiper-slide"></div>
                        <div class="swiper-slide"></div>
                        <div class="swiper-slide"></div>
                        <div class="swiper-slide"></div>
                    </div>
                </div>
                <div class="none-swiper-pagination multi-line"></div>
            </div>
        </div> -->
    </div>
</div>
