<div style="width:338px">
    <div>{{billingPolicyPopover.title}}</div>
    <div class="form-group">
        <label>· 정책이름 </label>
        <span>- {{vm.billingPolicy.name}}</span>
    </div>
    <div class="form-group">
        <label>· 기본요금 </label>
        <span>- {{vm.billingPolicy.chargePerHit | number}} (원/건)</span>
    </div>
    <div class="form-group">
        <label>· 최소과금 </label>
        <span>- {{vm.billingPolicy.leastAmount | number}} (원)</span>
    </div>
    <div>
        <div>
            <label style="vertical-align: -4px;">· 구간과금</label>
        </div>
        <table class="table voffset1">
            <thead>
            <tr>
                <th style="font-weight:normal; width:123px">임계치(건)</th>
                <th style="font-weight:normal; width:125px">구간요금(원/건)</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="segments in vm.billingPolicy.segments">
                <td class="t_right">{{segments.threshold | number}}</td>
                <td class="t_right">{{segments.chargePerHit | number}}</td>
            </tr>
            <tr ng-if="vm.billingPolicy.segments.length == 0">
                <td colspan="2" class="t_center">구간과금이 없습니다.</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
