<li style="color: #545045">&nbsp;1. Adobe acrobat reader가 설치되어 있는지 확인한다.</li><br/>
<li style="color: #545045">&nbsp;2. IE 9을 사용하는 경우, [ 제어판 -> 프로그램 및 기능 -> 설치된 업데이트보기 ] 에서</li>
<li style="color: #545045">&emsp; internet explorer가 <b>Release Candidate(시험판)</b>라고 표시되어 있다면,</li>
<li style="color: #545045">&emsp; <b>IE 9 정식판</b>으로 다시 설치해야 한다.</li><br/>
<li style="color: #545045">&nbsp;3. 모든 IE 사용자는 Adobe acrobat reader가 추가기능으로 설정되었는지 확인해야 한다.</li></br>
<li style="color: #545045">&emsp; <a class="btn btn-danger btn-xs" href="https://helpx.adobe.com/kr/acrobat/using/display-pdf-in-browser.html" target="_blank"><i class="glyphicon glyphicon-share-alt"></i> IE 추가기능 확인 및 설정방법 도움말 보기</a></li>
