<div style="width:597px">
    <div>{{Popover.title}}
        <button type="button" class="close" aria-hidden="true" ng-click="vm.isInjectionHelpOpen=false"></button>
    </div>
    <dl class="">
        <dt>일반적으로 다음과 같은 경우에 이 설정을 사용할 수 있습니다.</dt>
        <dd><b>1. HTML/JavaScript Injection</b></dd><dd>&emsp;- API 서비스가 HTML/JavaScript 언어로 개발된 경우</dd>
        <dd><b>2. PHP eval Injection</b></dd><dd>&emsp;- API 서비스가 PHP 언어로 개발된 경우</dd>
        <dd><b>3. Shell Injection</b></dd><dd>&emsp;- API 서비스가 CMS나 Shell을 이용하여 직접 파일을 핸들링하는 경우</dd>
        <dd><b>4. LDAP DN Injection</b></dd><dd>&emsp;- API 서비스가 JNDI를 사용하여 직접 LDAP에 쿼리를 하는 경우</dd>
        <dd><b>5. LDAP Search Injection</b></dd><dd>&emsp;- API 서비스가 JNDI를 사용하여 직접 LDAP에 쿼리를 하는 경우</dd>
        <dd><b>6. XPath Injection</b></dd><dd>&emsp;- API 서비스가 XPath쿼리로 클라이언트 요청을 파싱하거나 내부적으로 프로세싱하는 경우</dd>
    </dl>
</div>
