<div class="secret_popover">
    <div>{{secretPopover.title}}</div>
    <div>
        <button type="button" class="close" ng-click="vm.completeSecret()"></button>
    </div>
    <div class="form-group" ng-show="vm.initSecret">
        <label class="control-label">로그인 비밀번호를 입력하세요.</label>
        <input autocomplete="off" type="password" class="form-control" id="password" ng-model="vm.password" style="margin-top:10px" ng-keypress="($event.charCode == 13)? vm.getSecret() : vm.tooltipIsOpen=false;">
        <button type="button" ng-disabled="!vm.password.trim()" class="btn-type2 color-type1" ng-click="vm.getSecret()">시크릿 조회하기</button>
    <!--     <span uib-tooltip="비밀번호를 입력하세요." tooltip-is-open="vm.tooltipIsOpen" tooltip-popup-close-delay='500' tooltip-placement="top" style="margin-left:1px;"></span> -->
    </div>
    <div class="form-group" ng-if="!vm.initSecret">
        <div class="secret-key">
            <label class="control-label">시크릿</label>
            <span class="form-inline">{{vm.secret}}</span>
        </div>
        <button ng-if="vm.showDetail && vm.appDetail.status=='RUNNING'" type="button" class="btn-type1 color-type1" ng-click="vm.regenSecret()">재발급</button>
    </div>
</div>