<div class="wrap">
    <div class="col-md-12">
        <!-- <strong class="sub-title"> -->
        <!--     <i class="glyphicon glyphicon-menu-right"></i><small style="vertical-align:1px" ng-if="vm.state.forumId != 'all'"> [{{vm.state.forumOwner || '공통'}}]</small><span title="{{vm.listTitle}}"> {{(vm.listTitle.length >30)? (vm.listTitle | limitTo: 30)+"...": vm.listTitle}}</span> -->
        <!-- </strong> -->
        <!--     <button ng-if="vm.post.writer.login == vm.user.login && vm.post.forum.owner && vm.movePost" class="btn btn-default btn-xs pull-right" style="margin-left:4px" ng-click="vm.selectForum(vm.post);">게시글이동</button> -->
        <!--    <span ng-if="vm.isAdmin || (vm.readOnly && vm.post.writer.login == vm.user.login)" class="pull-right" style="top:0px; margin-left: 5px; line-height:1">
                <button type="button" class="btn btn-danger btn-xs" ng-click="vm.delPost(vm.post.id)">
                    <i class="glyphicon glyphicon-remove"></i>&nbsp;
                    <span style="font-size:11px" data-translate="post.action.delete">Delete</span>
                </button>
                <button ng-if="!vm.readOnly" style="margin-left:2px;" type="button" class="btn btn-info btn-xs" disabled>
                    <i class="glyphicon glyphicon-pencil"></i>&nbsp;
                    <span style="font-size:11px" data-translate="post.action.update">Update</span>
                </button>
                <button ng-if="vm.readOnly" style="margin-left:2px;" type="button" class="btn btn-info btn-xs" ng-click="vm.readOnlyToggle(false, vm.original)">
                    <i class="glyphicon glyphicon-pencil"></i>&nbsp;
                    <span style="font-size:11px" data-translate="post.action.update">Update</span>
                </button>
            </span>
            <button class="pull-right btn btn-default btn-xs"
                    ng-click="vm.viewForums()">
                <i class="glyphicon glyphicon-th-list"></i> 목록
            </button> -->
        <div class="table-responsive voffset3" style="overflow : visible">
            <table class="table table_write">
                <colgroup>
                    <col style="width:16%" />
                    <col style="width:84%" />
                </colgroup>
                <tbody>
                    <tr ng-if="vm.flag">
                        <th><label data-translate="post.forum.title">Forum</label></th>
                        <td class="form-inline">{{vm.post.forum.title}}&emsp;
                            <!-- <button class="btn btn-default btn-xs" ng-click="vm.viewForums(vm.post.forum)"><i class="glyphicon glyphicon-share-alt"></i></button> -->
                            <button class="viewForums" ng-click="vm.viewForums(vm.post.forum)"></button>
                        </td>
                    </tr>
                    <tr ng-if="vm.allowedSelectCategoryForums.indexOf(vm.post.forum.title) > -1">
                        <th>
                            <label>문의대상기관</label>
                        </th>
                        <td>
                            <label ng-if="vm.readOnly" class="label label-default shinhan" style="cursor:default">{{vm.post.targetOrganization.name || '전체'}}</label>
                            <span ng-if="!vm.readOnly" class="form-inline">
                                <select class="form-control" style="width:69%" name="org" ng-model="vm.post.targetOrganization"
                                        ng-options="provider as provider.name for provider in vm.providers track by provider.id">
                                    <option value="">- 문의할 대상기관을 선택하세요 -</option>
                                </select>
<!--                                 <input style="width:30%" class="form-control" type="text" id="category" ng-model="vm.selectCategory" placeholder="검색하기"> -->
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label ng-class="!vm.readOnly && required-label" data-translate="post.view.title">title</label>
                        </th>
                        <td>
                            <form name="form" novalidate>
                                <span ng-if="vm.readOnly"><small class="color_red va_m" has-authority="ROLE_ADMIN">[{{vm.post.id}}] </small><span class="va_m post_title">{{vm.post.title}}</span><i class="forum_lock ml_5" ng-if="vm.post.private"></i></span>
                                <span ng-if="!vm.readOnly">
                                        <input type="text" id="postTitle" name="postTitle" class="form-control"  ng-model="vm.post.title" minlength="1" maxlength="80" limit='true' ng-pattern="/^[^ㄱ-ㅎㅏ-ㅣ]*$/" placeholder="제목을 입력하세요." required>
                                        <small class="color_red" ng-if="form.postTitle.$error.minlength || form.postTitle.$error.maxlength">(1~80자 이내)</small>
                                        <small class="color_red" ng-if="form.postTitle.$error.pattern">(제목을 잘못입력하셨습니다.)</small>
                                </span>
                            </form>
                        </td>
                    </tr>
                    <tr ng-if="!vm.readOnly && vm.allowedPrivateWritingForums.indexOf(vm.post.forum.title) > -1">
                        <th><label for="setSecret" data-translate="post.action.secret">Secret</label></th>
                        <td>
                            <div class="new-form-group">
                                <input type="checkbox" id="setSecret" ng-model="vm.post.private" >
                                <label for="setSecret">(ADMIN, 작성자 및 작성자와 동일기관의 사용자들, 문의대상기관의 사용자들만 볼 수 있습니다.)</label>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="vm.readOnly">
                        <th><label>작성일</label></th>
                        <td>{{vm.post.createdDate | date: 'yyyy-MM-dd HH:mm'}}</td>
                    </tr>
                    <tr>
                        <th>
                           <label ng-class="!vm.readOnly && required-label" data-translate="post.view.content">content</label>
                        </th>
                        <td class="td_height1">
                            <div ng-if="!vm.readOnly">
                                <small ng-if="check_ie9" class="ie9-inform"><i class="glyphicon glyphicon-triangle-right"></i> IE 10이상과 크롬에서 이미지추가기능이 가능합니다.</small>
                                <summernote height="300" config="vm.summernoteToolbar" ng-model="vm.post.content"></summernote>
                            </div>
                            <div ng-if="vm.readOnly" id="postContent" class="post_content"></div>
                        </td>
                    </tr>
                    <tr ng-if="!(!vm.post.attachFileList.length && vm.readOnly)">
                        <th><label>첨부파일</label>
                            <button uib-popover-template="fileUploadHelpPopover.all"
                                popover-trigger = "mouseenter"
                                type="button"
                                ng-if="!vm.readOnly"
                                class="file-upload-helppop">?
                            </button>
                        </th>
                        <td>
                            <p ng-if="vm.post.attachFileList.length > 0" class="" ng-repeat="file in vm.post.attachFileList">
                                <span ng-click="vm.fileDown(file)" class="file-list-wrap type2" ng-style="!account && {'cursor':'default'}">
                                    <span class="file_name_info">{{file.fileName.split('\\').pop()}}</span>&nbsp;&nbsp;
                                    <span class="file_size">{{vm.fileSize(file)}}</span>
                                    <i ng-if="!vm.readOnly" class="glyphicon glyphicon-remove" ng-click="vm.delFile(file, $index)"></i>
                                </span>
                            </p>
        <!--                     <form style="overflow:hidden" class="voffset4" ng-show="!vm.readOnly" id="fileForm"> -->
        <!--                         <div name="inputContainer" id="file1"> -->
        <!--                             <input class="form-control pull-left file-input" style="margin-bottom:5px;" type="file" id="file1" name="file1" ng-model="document" onchange="angular.element(this).scope().apiFileChanged(event)"/> -->
        <!--                             <button type="button" id="file1" style="display:none; margin-left:3px; margin-top:6px; padding:1px 4px; height:22px" class="btn btn-danger btn-xs pull-left" ng-click="vm.delInput($event)"> -->
        <!--                                 <i class="glyphicon glyphicon-minus"></i> -->
        <!--                             </button> -->
        <!--                         </div> -->
        <!--                     </form> -->
                            <form style="overflow:hidden" id="fileForm">
                                <div class="searchFileList file-style-form" ng-if="!vm.readOnly" ng-repeat="file in vm.files" id="inputFile{{$index}}">
                                    <input id="hiddenInputFile-{{$index}}" class="form-control file-input" type="file" name="hiddenInputFile-{{$index}}" onchange="angular.element(this).scope().addFileInput(event)" ng-hide="true"/>
                                    <div class="input-group">
                                        <input id="viewInputFile{{$index}}" type="text" class="form-control" name="viewInputFile" placeholder="파일을 선택하세요" disabled>
                                        <span class="input-group-btn">
                                            <button ng-if="!file.data || vm.files.length==1" class="btn btn-default file-btn" type="button" ng-click="vm.deletion=false; vm.selectFile($index);">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                            <button ng-if="file.data" class="btn btn-danger file-btn" type="button" ng-click="vm.deletion=true; vm.delInput($index, vm.files);">
                                                <i class="glyphicon glyphicon-minus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="replyContainerWrap" ng-if="vm.allowedReplyWritingForums.indexOf(vm.post.forum.title) > -1" id="reply{{vm.post.id}}">
                <div class="replyContainer">
                    <div ng-if="!account && vm.post.replyList.length == 0">댓글이 없습니다.</div>
                    <div ng-if="vm.post.replyList.length > 0" ng-repeat="reply in vm.post.replyList">
                        <ul>
                            <li ng-style="!$first && {'border-top': '1px dashed #e5e5e5'}">
                                <strong class="icon_middle">
                                    <span class="replyFullname">{{reply.writer.fullName}}</span>
                                    <i ng-if="reply.writer.id == vm.user.id" class="glyphicon glyphicon-pencil" ng-click="vm.commentWShow(reply, 'modify')"></i>
                                    <i ng-if="reply.writer.id == vm.user.id" class="glyphicon glyphicon-remove" ng-click="vm.delPost(reply.id)"></i>
                                    <i class="forum_lock va_m" ng-if="reply.private"></i>

                                </strong>
                                {{vm.htmlContents(reply)}}
                                <div class="ql-editor" id="content{{reply.id}}"></div>
                                <span ng-if="account && reply.content != '비밀글입니다.'" class="btn btn-default btn-xs replyBtn" ng-click="vm.commentWShow(reply)">
                                    답글
                                </span>
                                <div id="reply{{reply.id}}" class="replyHide">
                                    <div class="replyBox sub">
                                        <i ng-click="vm.commentInputOff()" class="glyphicon glyphicon-remove-sign comment-input-off1"></i><i ng-click="vm.commentInputOff()" class="glyphicon glyphicon-remove comment-input-off2"></i>
                                        <div><summernote height="140" config="vm.replyToolbar" ng-model="vm.addReply.content"></summernote></div>
                                        <div class="btnBox">
                                            <span class="new-form-group">
                                                <small ng-if="check_ie9" class="ie9-inform"><i class="glyphicon glyphicon-triangle-right"></i> IE 10이상과 크롬에서 이미지추가기능이 가능합니다.</small>
                                                <span class="new-form-group">
                                                    <input type="checkbox" id="setPrivate{{reply.id}}" ng-model="vm.addReply.private" />
                                                    <label for="setPrivate{{reply.id}}" data-translate="post.action.secret">비밀글</label>
                                                </span>
                                            </span>
                                            <button ng-if="!vm.addReply.content" disabled class="btn btn-default btn-sm" data-translate="post.comment.reply.{{vm.mode}}"></button>
                                            <button ng-if="vm.addReply.content" ng-click="vm.commentW(reply, vm.addReply)" class="btn btn-default btn-sm" data-translate="post.comment.reply.{{vm.mode}}"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="depth" ng-if="reply.replyList.length > 0" ng-repeat="reply2 in reply.replyList">
                                    <ul>
                                        <li>
                                            <strong class="icon_middle">
                                                <i class="reply_re"></i><span class="replyFullname">{{reply2.writer.fullName}}</span>
                                                <i ng-if="reply2.writer.id == vm.user.id" class="glyphicon glyphicon-pencil iconMargin" ng-click="vm.commentWShow(reply2, 'modify')"></i>
                                                <i ng-if="reply2.writer.id == vm.user.id" class="glyphicon glyphicon-remove iconMargin" ng-click="vm.delPost(reply2.id)"></i>
                                                <!-- <i style="margin-left:5px" class="color_red" ng-class="{'glyphicon glyphicon-lock': reply2.private}"></i> -->
                                                <i class="forum_lock ng-scope" ng-if="reply2.private" style=""></i>

                                            </strong>
                                            {{vm.htmlContents(reply2)}}
                                            <div class="ql-editor" id="content{{reply2.id}}"></div>
                                            <button ng-if="account && reply2.content != '비밀글입니다.'" class="btn btn-default btn-xs replyBtn" ng-click="vm.commentWShow(reply2)">
                                                답글
                                                </button>

                                            <div id="reply{{reply2.id}}" class="replyHide">
                                                <div class="replyBox sub" style="position:sticky">
                                                    <i ng-click="vm.commentInputOff()" class="glyphicon glyphicon-remove-sign comment-input-off1"></i><i ng-click="vm.commentInputOff()" class="glyphicon glyphicon-remove comment-input-off2"></i>
                                                    <div><summernote height="140" config="vm.replyToolbar" ng-model="vm.addReply.content"></summernote></div>
                                                    <div class="btnBox">
                                                        <span>
                                                            <small ng-if="check_ie9" class="ie9-inform"><i class="glyphicon glyphicon-triangle-right"></i> IE 10이상과 크롬에서 이미지추가기능이 가능합니다.</small>
                                                            <span class="new-form-group">
                                                                <input type="checkbox" id="setPrivate{{reply2.id}}" ng-model="vm.addReply.private" />
                                                                <label for="setPrivate{{reply2.id}}" data-translate="post.action.secret">비밀글</label>
                                                            </span>
                                                        </span>
                                                        <button ng-if="!vm.addReply.content" disabled class="btn btn-default btn-sm" data-translate="post.comment.reply.{{vm.mode}}"></button>
                                                        <button ng-if="vm.addReply.content" ng-click="vm.commentW(reply2, vm.addReply)" class="btn btn-default btn-sm" data-translate="post.comment.reply.{{vm.mode}}"></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="depth" ng-if="reply2.replyList.length > 0" ng-repeat="reply3 in reply2.replyList">
                                                <ul>
                                                    <li>
                                                        <strong class="icon_middle">
                                                            <i class="reply_re"></i>
                                                            <span class="replyFullname">{{reply3.writer.fullName}}</span>
                                                            <i ng-if="reply3.writer.id == vm.user.id" class="glyphicon glyphicon-pencil iconMargin" ng-click="vm.commentWShow(reply3, 'modify')"></i>
                                                            <i ng-if="reply3.writer.id == vm.user.id" class="glyphicon glyphicon-remove iconMargin" ng-click="vm.delPost(reply3.id)"></i>
                                                            <i class="color_red" ng-if="reply3.private" ng-class="forum_lock"></i>
                                                        </strong>
                                                        {{vm.htmlContents(reply3)}}
                                                        <div class="ql-editor" id="content{{reply3.id}}"></div>
                                                        <div id="reply{{reply3.id}}" class="replyHide">
                                                            <div class="replyBox">
                                                                <i ng-click="vm.commentInputOff()" class="glyphicon glyphicon-remove-sign comment-input-off1"></i><i ng-click="vm.commentInputOff()" class="glyphicon glyphicon-remove comment-input-off2"></i>
                                                                <div id="commentContent3"><summernote height="140" config="vm.replyToolbar" ng-model="vm.addReply.content"></summernote></div>
                                                                <div class="btnBox sub">
                                                                    <span>
                                                                        <small ng-if="check_ie9" class="ie9-inform"><i class="glyphicon glyphicon-triangle-right"></i> IE 10이상과 크롬에서 이미지추가기능이 가능합니다.</small>
                                                                        <span class="new-form-group">
                                                                            <input type="checkbox" id="setPrivate{{reply3.id}}" ng-model="vm.addReply.private" />
                                                                            <label for="setPrivate{{reply3.id}}" data-translate="post.action.secret">비밀글</label>
                                                                        </span>
                                                                    </span>
                                                                    <button ng-if="!vm.addReply.content" disabled class="btn btn-default btn-sm" data-translate="post.comment.reply.{{vm.mode}}"></button>
                                                                    <button ng-if="vm.addReply.content" ng-click="vm.commentW(reply3, vm.addReply)" class="btn btn-default btn-sm" data-translate="post.comment.reply.{{vm.mode}}"></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div ng-if="account" class="replyBox" ng-style="vm.post.replyList.length > 0 && {'margin-top':'24px'}">
                        <summernote height="140" config="vm.replyToolbar" ng-model="vm.reply.content"></summernote>
                        <div class="btnBox">
                            <span class="new-form-group">
                                <small ng-if="check_ie9" class="ie9-inform"><i class="glyphicon glyphicon-triangle-right"></i> IE 10이상과 크롬에서 이미지추가기능이 가능합니다.</small>
                                <input type="checkbox" id="setPrivate" ng-model="vm.reply.private" />
                                <label for="setPrivate" data-translate="post.action.secret">비밀글</label>
                            </span>
                            <button ng-if="!vm.reply.content" disabled class="btn btn-default btn-sm" data-translate="post.comment.register"></button>
                            <button ng-if="vm.reply.content" ng-click="vm.commentW(vm.post, vm.reply)" class="btn btn-default btn-sm" data-translate="post.comment.register"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tableBtnSetWrap">
                <div class="btn_left">
                    <button class="tableBtn" ng-click="vm.viewForums()">목록</button>
                </div>
                <div class="btn_right" ng-if="vm.readOnly && (vm.isAdmin || vm.post.writer.id == vm.user.id)">
                    <button class="tableBtn type3" ng-click="vm.readOnlyToggle(false, vm.original)">수정</button>
                    <button class="tableBtn type2" ng-click="vm.delPost(vm.post.id)">삭제</button>
                </div>
            </div>
            <div class="btn-center-wrap" ng-if="!vm.readOnly">
                <button type="button" class="btn-type1 just_left" ng-click="vm.readOnlyToggle(true, vm.original)">
                    <span data-translate="entity.action.cancel">Cancel</span>
                </button>
                <button type="button" class="btn-type1 just_right" disabled ng-if="!vm.readOnly && (form.$invalid || !vm.post.content)">
                    <span data-translate="entity.action.save">Save</span>
                </button>
                <button type="button" class="btn-type1 just_right" ng-if="!(!vm.readOnly && (form.$invalid || !vm.post.content))" ng-click="vm.update(vm.post)">
                    <span data-translate="entity.action.save">Save</span>
                </button>
            </div>
        </div>
    </div>
</div>




