<jhi-alert></jhi-alert>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.clear()"></button>
    <h4 class="modal-title" data-translate="entity.modal.header.{{vm.items.title}}">Confirm delete operation</h4>
</div>
<div class="modal-body">
    <div class="scrollTable">
        <table class="table tableFixed">
            <colgroup>
                <col style="width:8%" />
                <col ng-if="vm.items.type == 'selection'" style="width:80%" />
                <col ng-if="vm.items.type != 'selection'" style="width:25%" />
                <col ng-if="vm.items.type == 'selection'" style="width:79px" />
                <col ng-if="vm.items.type != 'selection'"/>
            </colgroup>
            <tbody>
                <tr ng-repeat="item in vm.items.data">
                    <td class="t_center">{{$index +1}}</td>
                    <td class="t_left"><span title="{{item.name}}" class="dotContainer" style="width:99%">{{item.name}}</span></td>
                    <td class="t_left">
                        <button ng-if="vm.items.type == 'selection'" ng-disabled="vm.items.list.forum.id == item.id" class="btn btn-default btn-xs pull-right" ng-click="vm.conform(item)">선택하기</button>
                        <span ng-if="vm.items.type != 'selection'">{{item.description}}</span>
                    </td>
                </tr>
                <tr ng-if="vm.items.data.length == 0">
                    <td ng-if="vm.items.type=='selection'" colspan="3" class="t_center">게시글 이동이 가능한 포럼이 존재하지 않습니다.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button  ng-if="vm.items.type != 'selection'" type="button" class="btn btn-default modalBtn" data-dismiss="modal" ng-click="vm.clear()">
        <span data-translate="entity.action.conform">Conform</span>
    </button>
    <button ng-if="vm.items.type == 'selection'" type="button" class="btn btn-default modalBtn cancel" data-dismiss="modal" ng-click="vm.clear()">
        <span data-translate="entity.action.cancel">cancel</span>
    </button>
</div>
