<form name="form" role="form" novalidate>

    <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true" ng-click="vm.clear()"></button>

        <h4 ng-if="!vm.flag" class="modal-title" id="myUserLabel">새로운 포럼 만들기</h4>
        <h4 ng-if="vm.flag" class="modal-title" id="myUserLabel">포럼 설정</h4>
    </div>
    <div id="selectingForumApi" class="modal-body">
        <div ng-if="!vm.forum.owner" class="pull-right new-form-group">
            <input id="isAdminWritable" type="checkbox" id="isAdminWritable" ng-model="vm.forum.isAdminWritable" >
            <label for="isAdminWritable" class="label">Admin만 작성</label>
        </div>
        <div ng-if="vm.flag && vm.forum.owner" class="pull-right">
            <label class="label" style="line-height:22px; border-radius:3px; padding:0 30px 0 11px; float:right; background-color:#009b9d" for="setPrivate"><i class="glyphicon glyphicon-lock"></i> 비공개</label>
            <input style="vertical-align:-3px; margin:0px 5px; position:relative; left:82px;" type="checkbox" id="setPrivate" ng-model="vm.forum.isPrivate" >
        </div>
        <div class="form-group">
            <label class="control-label required-label" data-translate="forum.register.namedTitle">Forum Title</label>
            <small class="color_red" ng-if="form.forumTitle.$error.pattern">(잘못 입력하셨습니다.)</small>
            <small class="color_red" ng-if="form.forumTitle.$error.minlength || form.forumTitle.$error.maxlength">(3~30자 이내)</small>
            <input type="text" class="form-control" name="forumTitle" ng-model="vm.forum.title" minlength="3" maxlength="30" limit="true" ng-pattern="/^[^ㄱ-ㅎㅏ-ㅣ]*$/" required>
        </div>

        <div class="form-group">
            <label class="control-label required-label" data-translate="forum.register.description">Forum Description</label>
            <small class="color_red" ng-if="form.forumDescription.$error.minlength || form.forumDescription.$error.maxlength">(100자 이내)</small>
            <small class="color_red" ng-if="form.forumDescription.$error.pattern">(잘못 입력하셨습니다.)</small>
            <input type="text" class="form-control" name="forumDescription" ng-model="vm.forum.description" maxlength="100" limit="true" ng-pattern="/^[^ㄱ-ㅎㅏ-ㅣ]*$/"  required>
        </div>
        <!-- <div ng-hide="vm.flag && !vm.forum.owner" class="form-group">
            <label data-translate="forum.register.owner">Owner</label>
            <select class="form-control" name="org" ng-model="vm.forum.owner" ng-change="vm.flag? vm.findAvailableUsers() : null"
                    ng-options="organization.name for organization in vm.orgs track by organization.id" ng-disabled="!(vm.isAdmin && !vm.flag)">
                    <option value="">- 공통 -</option>
            </select>
        </div> -->
        <!-- <div ng-hide="vm.flag && !vm.forum.owner" class="form-group">
            <label>포럼 소속 API</label>
            <select ng-if="!vm.forum.isApiDeleted" class="form-control" name="org" ng-model="vm.forum.api"
                    ng-options="api.name for api in vm.apis track by api.id" ng-disabled="vm.flag">
                    <option value="">* 공통 *</option>
            </select>
            <select ng-if="vm.forum.isApiDeleted" class="form-control" name="org" ng-model="vm.forum.api"
                    ng-options="api.name for api in vm.apis track by api.id" ng-disabled="vm.flag">
                    <option value="">* 모음 - API 삭제 포럼 *</option>
            </select>
        </div> -->
        <div ng-if="vm.flag && vm.forum.owner" class="form-group">
            <label class="voffset1">게시글 작성가능자&emsp;
                <button class="btn btn-default btn-xs" ng-click="vm.addUsers()"><i class="glyphicon glyphicon-plus"></i> 추가</button>
            </label>
            <div class="form-control voffset1" style="overflow:hidden; height: inherit;">
                <span ng-if="vm.forum.writableUsers.length==0">* 작성가능자를 선택하지 않으면 <b><i>포탈에 가입한 모든 사용자</i></b> 에게 글쓰기가 허용됩니다.</span>
                <button ng-click="vm.removeWriter(user)" class="btn btn-xs f_left" ng-class="{'btn-success' : user.state == 'ACTIVE'}" style="margin:1px;" ng-repeat="user in vm.forum.writableUsers | orderBy : ['state', 'fullName']"><span ng-if="user.state != 'ACTIVE'" title="비활성자">{{user.fullName}}</span><span ng-if="user.state == 'ACTIVE'">{{user.fullName}}</span> <i class="glyphicon glyphicon-trash"></i></button>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" ng-click="vm.save()" ng-disabled="form.$invalid" class="btn btn-portal modalBtn">
            <span data-translate="entity.action.save">Save</span>
        </button>
        <button type="button" class="btn btn-default modalBtn cancel" data-dismiss="modal" ng-click="vm.clear()">
            <span data-translate="entity.action.cancel">Cancel</span>
        </button>
    </div>
</form>



