<div class="row wrap">
    <div class="col-md-12">
        <h2><strong>SMS 템플릿 목록</strong></h2>
    </div>
    <div ng-if="!vm.editShow" class="col-md-12">
        <div class="searchInfo">
            <span>총 <span class="color_red">{{vm.totalItems}}</span>개의 SMS템플릿이 존재합니다.</span>
            <div class="pull-right radio_right">
                <span class="radio_form">
                    <input type="radio" name="smsOnOff" id="smsOn" value="ON" ng-model="vm.smsOnOff.smsContents" ng-change="vm.saveSmsOnOff()">
                    <label for="smsOn">ON</label>
                </span>
                <span class="radio_form">
                    <input type="radio" name="smsOnOff" id="smsOff" value="OFF" ng-model="vm.smsOnOff.smsContents" ng-change="vm.saveSmsOnOff()">
                    <label for="smsOff">OFF</label>
                </span>
            </div>
        </div>
        <div class="table-responsive voffset3">
            <table class="table tableFixed">
                <colgroup>
                    <col style="width:5%"/>
                    <col style="width:29%"/>
                    <col/>
                    <col style="width:8.5%"/>
                    <col style="width:8.5%"/>
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col" id="name" ng-mousedown="vm.sorting('name')">템플릿 이름<i id="name" class="sort-position glyphicon glyphicon-triangle-bottom"></i></th>
                    <th scope="col" id="description" ng-mousedown="vm.sorting('description')">템플릿 설명<i id="description" class="sort-position glyphicon glyphicon-triangle-bottom"></i></th>
                    <th scope="col" id="sendKind" ng-mousedown="vm.sorting('sendKind')">전송방식<i id="sendKind" class="sort-position glyphicon glyphicon-triangle-bottom"></i></th>
                    <th scope="col" id="useYn" ng-mousedown="vm.sorting('useYn')">전송허용<i id="useYn" class="sort-position glyphicon glyphicon-triangle-bottom"></i></th>
                </tr>
                </thead>
                <tbody>
                <tr style="background-color:#fbfbea">
                    <td class="t_center">*</td>
                    <td>{{vm.notiTemplate.name}}
                        <button class="btn btn-default btn-xs pull-right" style="margin-left:3px;" ng-click="vm.popupTemplate(vm.notiTemplate)">수정
                        </button>
                        <button class="btn btn-default btn-xs pull-right" ng-click="vm.sendNoti()">
                            <i class="glyphicon glyphicon-share-alt"></i> &nbsp;Send
                        </button>
                    </td>
                    <td><small>{{vm.notiTemplate.description}}</small></td>
                    <td class="t_center">{{vm.notiTemplate.sendKind}}</td>
                    <td class="t_center">{{vm.notiTemplate.useYn}}</td>
                </tr>
                <tr ng-repeat="template in vm.mailTemplates" ng-if="vm.mailTemplates.length > 0">
                    <td class="t_center">{{vm.totalItems - $index - (vm.condition.page * vm.size)}}</td>
                    <td>{{template.name}}
                        <!-- <button class="btn btn-danger btn-xs pull-right" style="margin-left:3px;" ng-click="vm.delTemplate(template)">
                            <i class="glyphicon glyphicon-trash"></i> &nbsp;Delete
                        </button> -->
                        <button class="btn btn-default btn-xs pull-right" ng-click="vm.popupTemplate(template)">
                            수정
                        </button>
                    </td>
                    <td><small>{{template.description}}</small></td>
                    <td class="t_center">{{template.sendKind}}</td>
                    <td class="t_center">{{template.useYn}}</td>
                </tr>
                <tr ng-if="vm.mailTemplates.length <= 0">
                    <td colspan="5" class="t_center">현재 SMS 템플릿이 존재하지 않습니다.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-if="!vm.editShow" class="text-center">
        <ul uib-pagination total-items="vm.totalItems" items-per-page="vm.size" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></ul>
    </div>
    <form ng-if="vm.editShow" name="form" novalidate>
        <div class="modal-header">
            <button type="button" class="btn btn-portal pull-right" ng-click="vm.clear()">목록가기</button>
            <h4 class="modal-title">
                <span>{{vm.selections.name}}</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="control-label required-label">템플릿 이름</label>
                <small class="color_red" ng-if="form.name.$error.minlength || form.name.$error.maxlength">(3~80자 이내)</small>
                <small class="color_red" ng-if="form.name.$error.pattern">(잘못 입력하셨습니다.)</small>
                <input type="text" class="form-control" name="name" ng-model="vm.selections.name" minlength="3" maxlength="80" limit='true'  ng-pattern="/^[^ㄱ-ㅎㅏ-ㅣ]*$/" required>
            </div>

            <div class="form-group">
                <label class="control-label required-label">템플릿 설명</label>
                <small class="color_red" ng-if="form.description.$error.minlength || form.description.$error.maxlength">(3~80자 이내)</small>
                <small class="color_red" ng-if="form.description.$error.pattern">(잘못 입력하셨습니다.)</small>
                <input type="text" class="form-control" name="description" ng-model="vm.selections.description" minlength="3" maxlength="80" limit='true'  ng-pattern="/^[^ㄱ-ㅎㅏ-ㅣ]*$/" required>
            </div>

            <div class="form-group">
                <label class="control-label">전송 방식</label>
                <div class="pull-right">
                    <input type="radio" name="sendKind" id="sendKind" value="SMS" ng-model="vm.selections.sendKind" ng-change="vm.saveSmsOnOff()">
                    <label for="SMS" style="margin-right:10px; vertical-align:2px;">ON</label>
                    <input type="radio" name="sendKind" id="sendKind" value="EMAIL" ng-model="vm.selections.sendKind" ng-change="vm.saveSmsOnOff()">
                    <label for="EMAIL" style="vertical-align:2px;">OFF</label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">사용중</label>
                <div class="pull-right">
                    <input type="radio" name="useYn" id="useYn" value="true" ng-model="vm.selections.useYn" ng-change="vm.saveSmsOnOff()">
                    <label for="true" style="margin-right:10px; vertical-align:2px;">ON</label>
                    <input type="radio" name="useYn" id="useYn" value="false" ng-model="vm.selections.useYn" ng-change="vm.saveSmsOnOff()">
                    <label for="false" style="vertical-align:2px;">OFF</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label required-label">SMS 제목</label>
                <small class="color_red" ng-if="form.title.$error.minlength || form.title.$error.maxlength">(3~80자 이내)</small>
                <small class="color_red" ng-if="form.title.$error.pattern">(잘못 입력하셨습니다.)</small>
                <input type="text" class="form-control" name="title" ng-model="vm.selections.title" minlength="3" maxlength="80" limit='true'  ng-pattern="/^[^ㄱ-ㅎㅏ-ㅣ]*$/" required>
            </div>
            <div class="form-group">
                <label class="control-label">SMS 컨텐츠</label><span> (40자 이내)</span>
                <small class="color_red" ng-if="form.smsContents.$error.minlength || form.smsContents.$error.maxlength">(40자 이내)</small>
                <small class="color_red" ng-if="form.smsContents.$error.pattern">(잘못 입력하셨습니다.)</small>
                <textarea name="smsContents" class="form-control" ng-model="vm.selections.smsContents" maxlength="40" limit='true'  ng-pattern="/^[^ㄱ-ㅎㅏ-ㅣ]*$/"></textarea>
            </div>
            <p class="form-group">
                <label for="sender" class="control-label required-label">발신자</label>
                <small class="color_red" ng-if="form.sender.$error.minlength || form.sender.$error.maxlength">(2~30자 이내)</small>
                <small class="color_red" ng-if="form.sender.$error.pattern">(잘못 입력하셨습니다.)</small>
                <input type="text" class="form-control" id="sender" name="sender" ng-model="vm.selections.sender" minlength="2" maxlength="30" limit='true' ng-pattern="/^[-가-힣A-Za-z0-9._ ]+$/" required>
            </p>
            <div class="form-group">
                <label for="senderId" class="control-label required-label">발신메일</label>
                <small class="color_red" ng-if="form.senderId.$error.minlength || form.senderId.$error.maxlength">(3~15자 이내)</small>
                <small class="color_red" ng-if="form.senderId.$error.pattern">(잘못 입력하셨습니다.)</small>
                <p class="form-inline">
                    <input id="senderId" name="senderId" type="text" style="width: 61%;" class="form-control" minlength="3" maxlength="15" limit='true' ng-pattern="/^[-A-Za-z0-9._]+$/" ng-model="vm.email" required> @
                    <input type="text" class="form-control" value="hanafn.com" ng-disabled="true" />
                </p>
            </div>
            <div class="form-group">
                <label class="control-label required-label">메일 내용</label>
                <div>
                    <small ng-if="check_ie9" class="ie9-inform"><i class="glyphicon glyphicon-triangle-right"></i> IE 10이상과 크롬에서 이미지추가기능이 가능합니다.</small>
                    <summernote config="vm.summernoteToolbar" height="300" ng-model="vm.selections.contents"></summernote>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-portal modalBtn" ng-disabled="!vm.selections.contents || form.$invalid" ng-click="vm.save()"><span data-translate="entity.action.save">Save</span>
            </button>
            <button type="button" class="btn btn-default btn-md modalBtn cancel" data-dismiss="modal" ng-click="vm.clear()" aria-hidden="true">취소
            </button>
        </div>
    </form>
</div>
