<div class="row wrap">
    <div class="col-md-12">
        <h2><strong>토큰 발행 통계</strong></h2>
    </div>
    <div class="col-md-12">
        <div class="searchField type2 typeNew">
            <div class="dateContainer">
                <dl class="datePickerField">
                    <dd class="form-inline" style="width:500px">
                        <label class="control" for="approvalRequester">요청일자</label>
                        <span class="input-group">
                            <input type="text" class="form-control"
                                   id="approvalRequester" readonly
                                   uib-datepicker-popup="yyyy-MM-dd"
                                   ng-model="vm.condition.fromTime"
                                   is-open="vm.fromDateOpen"
                                   popup-placement="bottom-left"
                                   on-open-focus="false"
                                   close-text="닫기"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openFromDatePicker($event)"
                                        uib-is-class="'btn-info' for selectedDt, 'active' for activeDt on dt"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </span><span style="vertical-align:middle"> ~ </span>
                        <span class="input-group">
                            <input type="text" class="form-control" readonly
                                   uib-datepicker-popup="yyyy-MM-dd"
                                   ng-model="vm.condition.toTime"
                                   is-open="vm.toDateOpen"
                                   popup-placement="bottom-left"
                                   on-open-focus="false"
                                   close-text="닫기"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openToDatePicker($event)"
                                        uib-is-class="'btn-info' for selectedDt, 'active' for activeDt on dt">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </span>
                    </dd>
                </dl>
                <button type="button" ng-hide="vm.isAutoMode" class="btn search-btn" ng-click="vm.clickSearchButton(true)">검색</button>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-center voffset3" ng-if="!vm.success">
        <div class="searchField2" style="padding:23px; border:0px">{{ vm.alertMessage }}</div>
    </div>
    <div class="col-md-12 voffset3" ng-if="vm.success">
        <div>
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th style="width:40%">요청기관</th>
                        <th>발행기관</th>
                        <th style="width:150px">발행횟수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="m in vm.metricsList">
                        <td class="text-center">{{ m.issuerName }}</td>
                        <td class="text-center">{{ m.requesterName }}</td>
                        <td class="text-center">
                            <button ng-click="vm.showTokenTrend(m)" class="btn btn-default btn-xs">{{ m.authCount }}</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="voffset5 text-center">
            <button ng-show="vm.metricsList && vm.metricsList.length > 0" type="button" class="btn btn-sm btn-exceldown voffset2" ng-click="vm.downloadExcel()">EXCEL</button>
            <ul uib-pagination total-items="vm.totalItems" items-per-page="vm.size" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></ul>
        </div>
    </div>
</div>
