<div class="servicePackageWrap">
            <div class="section01">
                <div class="textarea">
                    <p class="introText">신한금융그룹 Open API Market&nbsp;계정에서 가장 안전하고</p>
                    <p class="introText">편리한 방법으로 데이터 분석 하도록 사용자에게 제안하세요.</p>
                    <p class="introText2">데이터 분석</p>
                    <p class="introText3">BIG Data 분석 결과 및 마케팅 인사이트 제공의 제휴로 <br>
                        B2B기반의 카드 마케팅 지원
                    </p>
                </div>
                <div class="imgarea-head"></div>
                <div class="imgarea"><img src="/img/shinhan/temp_img_01.jpg" alt=""></div>
            </div>
            <div class="imgArea">
                <img src="/img/shinhan/data_search.jpg" alt="">
            </div>
            <div class="section05">
                <ul class="sec05">
                    <li>
                        <div class="leftcont">
                            <p>이용대상</p>
                        </div>
                        <div class="rightcont">
                            <ul>
                                <li>부동산(주택,아파트 ) 중개 플랫폼에서 금융서비스와 시너지를 높이고 싶은 기관</li></ul></div></li></ul><ul class="sec05">
                    <li>
                        <div class="leftcont">
                            <p>서비스 특징</p>
                        </div>
                        <div class="rightcont">
                            <ul>
                                <li>이용기관의 온라인 채널에서 상품(매물)탐색과 함께 금융한도 조회 및 신청가능</li>
                                <li>금융신청 정보 등 기반으로 중개매물에 대한 계약상태 관리 가능 <br>(상품플랫폼을 통해 중개매물 확인 후, 계약은 양도인과 직거래로 진행되는 리스트 관리 가능)</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="leftcont">
                            <p>수수료</p>
                        </div>
                        <div class="rightcont">
                            <ul>
                                <li>수수료 납부 방식 :&nbsp;매월 10일&nbsp;제휴기관 수수료 결제 계좌에서 출금 (휴일인 경우 익영업일 출금)</li>
                                <li>수수료 부과 대상 : 대출 승인 내역 조회 API (건당 100원)</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>