<div class="servicePackageWrap type3">
    <table class="table tableFixed">
        <tr class="section01">
            <td colspan="2">
                <div class="textarea">
                    <p class="introText">신한금융그룹 Open API Market 계정에서 가장 안전하고</p><p class="introText">
                        편리한 방법으로 은행 계좌로 돈을 이체하도록 사용자에게 제안하세요.</p>
                    <p class="introText2">지불</p><p class="introText2">(Payments)</p>
                    <p class="introText3">Payments API를 사용하면 신한금융그룹 Open API Market 고객의 계좌에서
                        국내 또는 해외 은행 계좌로 송금할 수 있습니다.</p>
                </div>
            </td>
            <td colspan="2">
                <div class="imgarea-head"></div>
                <div class="imgarea"><img src="/img/shinhan/temp_img_01.jpg" alt=""></div>
            </td>
        </tr>
        <tr class="section02">
            <td>
                <ul class="sec02ul">
                    <li>
                        <div class="imgarea">
                            <img src="/img/shinhan/section_01.jpg" alt="">
                        </div>
                        <p class="tit">두 번째 요인 인증으로 보호되는 P2P 및 P2B 지불을 지원합니다. </p>
                    </li>
                </ul>
            </td>
            <td>
                <ul class="sec02ul">
                    <li>
                        <div class="imgarea">
                            <img src="/img/shinhan/section_02.jpg" alt="">
                        </div>
                        <p class="tit">즉시 송금하거나</p>
                        <p class="tit">송금 일정을 잡으십시오.</p>
                    </li>
                </ul>
            </td>
            <td>
                <ul class="sec02ul">
                    <li>
                        <div class="imgarea">
                            <img src="/img/shinhan/section_03.jpg" alt="">
                        </div>
                        <p class="tit">전송 시뮬레이션 서비스로 귀사와 귀사 고객을 위한 투명한 요금 정책</p>
                    </li>
                </ul>
            </td>
            <td>
                <ul class="sec02ul">
                    <li>
                        <div class="imgarea">
                            <img src="/img/shinhan/section_04.jpg" alt="">
                        </div>
                        <p class="tit">인스턴트 알림 서비스를 통해</p>
                        <p class="tit">통합을 더욱 강화하십시오.</p>
                    </li>
                </ul>
            </td>
        </tr>
        <tr class="section03">
            <td colspan="2">
                <p class="title1">어떤 가치를 제공합니까?</p>
                <div class="inbox">
                    <div class="leftBox">
                        <p class="intitle1">고객이 안전하고 안전하게</p><p class="intitle1">자금을 이동하도록 제안하세요</p>
                        <div class="intitle2">
                            송금 서비스는 2 단계 인증으로 보호됩니다. <br>
                            즉, 클라이언트는 유효한 모바일에서 받은 일회용 비밀번호를 통해 확인을
                            제공해야 합니다. <br><br>
                            트랜잭션을 처리 할 때 알림을 수신 할 수도 있습니다.
                        </div>
                    </div>
                </div>
            </td>
            <td colspan="2">
                <div class="inbox">
                    <div class="rightBox">
                        <img src="/img/shinhan/section03_img.jpg" alt="" style="width: 100%;">
                    </div>
                </div>
            </td>
        </tr>
        <tr class="section04">
            <td colspan="2">
                <div class="leftbox">
                    <p class="title1">&nbsp;적용사례&nbsp;</p>
                    <p class="title2">Transavia : WhatsApp을 통한
                    도서 비행 부가 기능과 Tikkie를
                    통한 지불!
                    </p>
                    <p class="title3">귀하의 여행에 대한 항공편이나 부가 기능을 예약 하시겠습니까? <br>
                    Transavia에서 Whatsapp을 통해 예약 변경을 시작하고 Tikkie에서 '클릭 지불'
                    을 할 수 있습니다! <br>
                    WhatsApp를 통해 고객은 다음을 요구할 수 있습니다.
                    </p>
                    <p class="title4">체크인 수하물 / 특별 수하물 / 의자</p>
                    <p class="title5">그러한 요청이 완료되면 Transavia는 Tikkie를 통해 지불 요청을 작성하고 <br>
                    Whatsapp를 통해 이 링크를 전송합니다. 이 'Tikkie'를 사용하면 자신의 은행을
                    통해 빠르고 쉽게 제품 비용을 지불 할 수 있습니다. <br>
                    결과는 '내 Transavia'에 표시됩니다.</p><p class="title5">
                    </p>
                </div>
            </td>
            <td colspan="2">
                <div class="rightbox">
                    <img src="/img/shinhan/section_04_01.jpg" alt="" style="width: 100%;">
                </div>
            </td>
        </tr>
        <tr class="section05">
            <td colspan="1" class="sec05">
                <div class="leftcont">
                    <p>이용대상</p>
                </div>
            </td>
            <td colspan="3" class="sec05">
                <div class="rightcont">
                    <ul>
                        <li>부동산(주택,아파트 ) 중개 플랫폼에서 금융서비스와 시너지를 높이고 싶은 기관</li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr class="section05">
            <td colspan="1" class="sec05">
                <div class="leftcont">
                    <p>서비스 특징</p>
                </div>
            </td>
            <td colspan="3" class="sec05">
                <div class="rightcont">
                    <ul>
                        <li>이용기관의 온라인 채널에서 상품(매물)탐색과 함께 금융한도 조회 및 신청가능</li>
                        <li>금융신청 정보 등 기반으로 중개매물에 대한 계약상태 관리 가능 <br>(상품플랫폼을 통해 중개매물 확인 후, 계약은 양도인과 직거래로 진행되는 리스트 관리 가능)</li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr class="section05">
            <td colspan="1" class="sec05">
                <div class="leftcont">
                    <p>수수료</p>
                </div>
            </td>
            <td colspan="3" class="sec05">
                <div class="rightcont">
                    <ul>
                        <li>수수료 납부 방식 :&nbsp;매월 10일&nbsp;제휴기관 수수료 결제 계좌에서 출금 (휴일인 경우 익영업일 출금)</li>
                        <li>수수료 부과 대상 : 대출 승인 내역 조회 API (건당 100원)</li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>