<div ng-cloak>
    <div class="row wrap">
        <div class="col-md-12 voffset9">
            <div class="col-md-3"><img src="/img/portal/img_pageError.png" /></div>
            <div class="col-md-9">
                <p style="color:#545045; font-size:36px; line-height: 42px;"><span style="color:#ff9600;">요청하신 페이지를 찾을 수 없습니다.</span></p>
                <p class="voffset3" style="color:#656565; font-size:16px;">방문하시려는 페이지의 주소가 잘못 입력되었거나,<br>페이지의 주소가 변경 혹은 삭제되어 요청하신 페이지를 찾을 수 없습니다.</p>
                <p class="voffset1" style="color:#656565; font-size:16px;">입력하신 주소가 정확한지 다시 한번 확인해주시기 바랍니다.</p>
                <button class="btn btn-portal voffset3" ui-sref="home" ui-sref-opts="{reload: true}">메인으로 가기</button>
            </div>
        </div>
    </div>
</div>
