<div class="org-setting row wrap" sc>
    <div class="">
        <h2><strong>내 기관 설정</strong>
            <span class="color_red" style="border-left:1px solid #ddd; margin-left:14px; font-size: 14px">&emsp;{{vm.Org.state}}</span>
            <small class="color_red" ng-if="vm.Org.state=='APPROVING'">&nbsp;(수정불가)</small>

        </h2>
        <div class="searchInfo type3">
            <button type="button" class="btn btn-portal btn-flag-radius no_plus pull-right" ng-click="vm.showDetail()">{{vm.detailTitle}}</button>
            <button ng-if="vm.Org.state=='UPDATING' || vm.Org.state=='UPDATING_DENIED'" type="button" class="btn btn-portal btn-flag-radius2 pull-right no_plus" ng-click="vm.rollback()">롤백하기</button>
        </div>
        <div ng-if="vm.alertSentences" class="box_wrap" ng-bind-html="vm.alertSentences"></div>
        <span class="required-label-info"><label class="color_red">*</label>&nbsp;<small>승인요청항목</small></span>
    </div>

    <!-- <div uib-alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.closeAlert($index)" dismiss-on-timeout="5000">
        {{alert.message}}
    </div> -->

        <div class="col-md-12">

            <div ng-if="vm.Org.state=='APPROVING'" class="back-opacity"></div>
            <form name="form" novalidate>
            <table class="table table_write type2">
                <colgroup>
                    <col style="width:15%;">
                    <col style="width:35%;">
                    <col style="width:15%;">
                    <col style="width:35%;">
                </colgroup>
                <tbody>
                    <tr>
                        <th><label class="required-label">기관명</label></th>
                        <td ng-class="{'has-error':form.orgName.$dirty && form.orgName.$invalid}">
                            <small class="color_red" ng-if="form.orgName.$error.minlength || form.orgName.$error.maxlength">(2~30자 이내)</small>
                            <small class="color_red" ng-if="form.orgName.$error.pattern">(잘못 입력하셨습니다.)</small>
                            <input type="text" class="form-control" name="orgName"
                                   ng-model="vm.Org.name" minlength="2" maxlength="30" limit='true' ng-pattern="/^[-가-힣A-Za-z0-9._ ]+$/" required>
                        </td>
                        <th>
                            <label class="required-label">대표자 성명</label>
                        </th>
                        <td ng-class="{'has-error':form.ceoName.$dirty && form.ceoName.$invalid}">
                            <small class="color_red" ng-show="form.ceoName.$error.pattern">잘못 입력하셨습니다.</small>
                            <small class="color_red" ng-if="form.ceoName.$error.minlength || form.ceoName.$error.maxlength">2~30자 이내</small>
                            <input type="text" class="form-control" name="ceoName" minlength="2" maxlength="30" limit='true' ng-pattern="/^[-가-힣A-Za-z0-9._ ]+$/"
                                   ng-model="vm.Org.ceoName">
                        </td>
                    </tr>
                    <tr>
                        <th><label>기관설명</label></th>
                        <td>
                            <small class="color_red" ng-if="form.orgDescription.$error.minlength || form.orgDescription.$error.maxlength">(100자 이내)</small>
                            <small class="color_red" ng-if="form.orgDescription.$error.pattern">(잘못 입력하셨습니다.)</small>
                            <input type="text" class="form-control" name="orgDescription" maxlength="100" limit='true'  ng-pattern="/^[^ㄱ-ㅎㅏ-ㅣ]*$/"
                                   ng-model="vm.Org.description">
                        </td>
                        <th>업체명</th>
                        <td>
                            <small class="color_red" ng-show="form.sectors.$error.pattern">잘못 입력하셨습니다.</small>
                            <input type="text" class="form-control" name="sectors" ng-pattern="/^[^ㄱ-ㅎㅏ-ㅣ]*$/" ng-model="vm.Org.sectors">
                        </td>
                    </tr>
                    <tr>
                        <th><label class="required-label">사업자 등록번호</label></th>
                        <td>
                            <div class="">
                                <small class="color_red" ng-if="form.licenseNumber1.$error.minlength">(앞번호 3자리 입력바랍니다.)</small>
                                <small class="color_red" ng-if="form.licenseNumber2.$error.minlength">(중간번호 2자리 입력바랍니다.)</small>
                                <small class="color_red" ng-if="form.licenseNumber3.$error.minlength">(뒷번호 5자리 입력바랍니다.)</small>
                            </div>
                            <div ng-class="{'has-error':form.licenseNumber1.$error.minlength||form.licenseNumber2.$error.minlength||form.licenseNumber3.$error.minlength}" class="phone_set type2 form-inline">
                                <input type="text" class="form-control" name="licenseNumber1" ng-model="vm.licenseNumber[0]" minlength="3" mask="999" restrict='reject' limit='true' ng-change="vm.lengthCheck('licenseNumber', vm.licenseNumber)" required>
                                <input type="text" class="form-control center" name="licenseNumber2" ng-model="vm.licenseNumber[1]" minlength="2" mask="99" restrict='reject' limit='true' ng-change="vm.lengthCheck('licenseNumber', vm.licenseNumber)" required>
                                <input type="text" class="form-control" name="licenseNumber3" ng-model="vm.licenseNumber[2]" minlength="5" mask="99999" restrict='reject' limit='true' ng-change="vm.lengthCheck('licenseNumber', vm.licenseNumber)" required>
                            </div>
                        </td>
                        <th>사업장 소재지</th>
                        <td>
                            <small class="color_red" ng-show="form.address.$error.pattern">잘못 입력하셨습니다.</small>
                            <input type="text" class="form-control" name="address" ng-pattern="/^[^ㄱ-ㅎㅏ-ㅣ]*$/" ng-model="vm.Org.address">
                        </td>
                    </tr>
                    <tr>
                        <th><label class="required-label">법인 등록번호</label></th>
                        <td>
                            <p>
                                <small class="color_red" ng-if="form.corpRegNumber1.$error.minlength">(앞번호 6자리 입력바랍니다.)</small>
                                <small class="color_red" ng-if="form.corpRegNumber2.$error.minlength">(뒷번호 7자리 입력바랍니다.)</small>
                            </p>
                            <div ng-class="{'has-error':form.corpRegNumber1.$error.minlength||form.corpRegNumber2.$error.minlength}" class="phone_set type3 form-inline">
                                <input type="text" class="form-control" name="corpRegNumber1" ng-model="vm.corpRegNumber[0]" minlength="6" mask="999999" restrict='reject' limit='true' ng-change="vm.lengthCheck('corpRegNumber', vm.corpRegNumber)" required>
                                <input type="text" class="form-control" name="corpRegNumber2" ng-model="vm.corpRegNumber[1]" minlength="7" mask="9999999" restrict='reject' limit='true' ng-change="vm.lengthCheck('corpRegNumber', vm.corpRegNumber)" required>
                            </div>
                        </td>
                        <th>
                            <label>홈페이지 주소</label>
                        </th>
                        <td>
                            <small class="color_red" ng-if="form.homepageUrl.$error.pattern">(잘못 입력하셨습니다.)</small>
                            <input type="text" class="form-control" name="homepageUrl" ng-pattern="/^[-A-Za-z0-9:._?=/& ]+$/" ng-model="vm.Org.homepageUrl">
                        </td>
                    </tr>
                    <tr>
                        <th><label class="required-label">회사 전화번호</label></th>
                        <td colspan="">
                            <p>
                                <small class="color_red" ng-if="!vm.mainPhone[0] && vm.mainPhone[1] || !vm.mainPhone[0] && vm.mainPhone[2]">(지역번호를 선택바랍니다.)</small>
                                <small class="color_red" ng-if="form.mainPhone2.$error.minlength">(앞번호 3자이상 입력바랍니다.)</small>
                                <small class="color_red" ng-if="form.mainPhone3.$error.minlength">(뒷번호 4자리 입력바랍니다.)</small>
                            </p>
                            <div>
                                <div ng-class="{'has-error':form.mainPhone2.$error.minlength||form.mainPhone3.$error.minlength}" class="form-inline phone_set type4">
                                    <select class="form-control" name="mainPhone" ng-model="vm.mainPhone[0]" ng-options="num for num in vm.districtNums track by num" ng-change="vm.lengthCheck('mainPhone', vm.mainPhone)" required>
                                        <option value="">선택</option>
                                    </select>
                                    <input type="text" class="form-control center" name="mainPhone2" ng-model="vm.mainPhone[1]" minlength='3' mask="9999" restrict='reject' limit='true' validate='false' ng-change="vm.lengthCheck('mainPhone', vm.mainPhone)" required>
                                    <input type="text" class="form-control" name="mainPhone3" ng-model="vm.mainPhone[2]" minlength='4' mask="9999" restrict='reject' limit='true' ng-change="vm.lengthCheck('mainPhone', vm.mainPhone)" required>
                                </div>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <!-- <div class="col-md-6">
                <div class="form-group" ng-class="{'has-error':form.orgName.$dirty && form.orgName.$invalid}">
                    <label class="required-label">기관명</label>
                    <small class="color_red" ng-if="form.orgName.$error.minlength || form.orgName.$error.maxlength">(2~30자 이내)</small>
                    <small class="color_red" ng-if="form.orgName.$error.pattern">(잘못 입력하셨습니다.)</small>
                    <input type="text" class="form-control" name="orgName"
                           ng-model="vm.Org.name" minlength="2" maxlength="30" limit='true' ng-pattern="/^[-가-힣A-Za-z0-9._ ]+$/" required>
                </div>
                <div class="form-group" ng-class="{'has-error':form.orgDescription.$dirty && form.orgDescription.$invalid}">
                    <label>기관설명</label>
                    <small class="color_red" ng-if="form.orgDescription.$error.minlength || form.orgDescription.$error.maxlength">(100자 이내)</small>
                    <small class="color_red" ng-if="form.orgDescription.$error.pattern">(잘못 입력하셨습니다.)</small>
                    <input type="text" class="form-control" name="orgDescription" maxlength="100" limit='true'  ng-pattern="/^[^ㄱ-ㅎㅏ-ㅣ]*$/"
                           ng-model="vm.Org.description">
                </div>
                <div class="form-group form-inline" ng-class="{'has-error':form.licenseNumber1.$error.minlength||form.licenseNumber2.$error.minlength||form.licenseNumber3.$error.minlength}">
                    <label class="required-label" style="margin-top:5px">사업자 등록번호</label>
                    <small class="color_red" ng-if="!vm.licenseNumber[0] || !vm.licenseNumber[1] || !vm.licenseNumber[2]">(필수)</small>
                    <p>
                        <small class="color_red" ng-if="form.licenseNumber1.$error.minlength">(앞번호 3자리 입력바랍니다.)</small>
                        <small class="color_red" ng-if="form.licenseNumber2.$error.minlength">(중간번호 2자리 입력바랍니다.)</small>
                        <small class="color_red" ng-if="form.licenseNumber3.$error.minlength">(뒷번호 5자리 입력바랍니다.)</small>
                    </p>
                    <div>
                        <input type="text" class="form-control" style="width:27%" name="licenseNumber1" ng-model="vm.licenseNumber[0]" minlength="3" mask="999" restrict='reject' limit='true' ng-change="vm.lengthCheck('licenseNumber', vm.licenseNumber)" required> -
                        <input type="text" class="form-control" style="width:23%" name="licenseNumber2" ng-model="vm.licenseNumber[1]" minlength="2" mask="99" restrict='reject' limit='true' ng-change="vm.lengthCheck('licenseNumber', vm.licenseNumber)" required> -
                        <input type="text" class="form-control" style="width:42%" name="licenseNumber3" ng-model="vm.licenseNumber[2]" minlength="5" mask="99999" restrict='reject' limit='true' ng-change="vm.lengthCheck('licenseNumber', vm.licenseNumber)" required>
                    </div>
                </div>
                <div class="form-group form-inline" ng-class="{'has-error':form.corpRegNumber1.$error.minlength||form.corpRegNumber2.$error.minlength}">
                    <label class="required-label">법인 등록번호</label>
                    <small class="color_red" ng-if="!vm.corpRegNumber[0] || !vm.corpRegNumber[1]">(필수)</small>
                    <p>
                        <small class="color_red" ng-if="form.corpRegNumber1.$error.minlength">(앞번호 6자리 입력바랍니다.)</small>
                        <small class="color_red" ng-if="form.corpRegNumber2.$error.minlength">(뒷번호 7자리 입력바랍니다.)</small>
                    </p>
                    <div>
                        <input type="text" class="form-control" style="width:46%" name="corpRegNumber1" ng-model="vm.corpRegNumber[0]" minlength="6" mask="999999" restrict='reject' limit='true' ng-change="vm.lengthCheck('corpRegNumber', vm.corpRegNumber)" required> -
                        <input type="text" class="form-control" style="width:50%" name="corpRegNumber2" ng-model="vm.corpRegNumber[1]" minlength="7" mask="9999999" restrict='reject' limit='true' ng-change="vm.lengthCheck('corpRegNumber', vm.corpRegNumber)" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error' : form.mainPhone2.$error.minlength || form.mainPhone3.$error.minlength}">
                    <div>
                        <label>회사 전화번호</label>
                        <small class="color_red" ng-if="!vm.mainPhone[0] || !vm.mainPhone[1] || !vm.mainPhone[2]">(필수)</small>
                        <p>
                            <small class="color_red" ng-if="!vm.mainPhone[0] && vm.mainPhone[1] || !vm.mainPhone[0] && vm.mainPhone[2]">(지역번호를 선택바랍니다.)</small>
                            <small class="color_red" ng-if="form.mainPhone2.$error.minlength">(앞번호 3자이상 입력바랍니다.)</small>
                            <small class="color_red" ng-if="form.mainPhone3.$error.minlength">(뒷번호 4자리 입력바랍니다.)</small>
                        </p>
                    </div>

                    <div>
                        <div class="form-inline">
                            <select class="form-control" name="mainPhone" ng-model="vm.mainPhone[0]" ng-options="num for num in vm.districtNums track by num" ng-change="vm.lengthCheck('mainPhone', vm.mainPhone)" required>
                                <option value="">선택</option>
                            </select> -
                            <input type="text" class="form-control" style="width:34%;" name="mainPhone" ng-model="vm.mainPhone[1]" minlength='3' mask="9999" restrict='reject' limit='true' validate='false' ng-change="vm.lengthCheck('mainPhone', vm.mainPhone)" required> -
                            <input type="text" class="form-control" style="width:35%;" name="mainPhone" ng-model="vm.mainPhone[2]" minlength='4' mask="9999" restrict='reject' limit='true' ng-change="vm.lengthCheck('mainPhone', vm.mainPhone)" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{'has-error' : form.ceoName.$error.pattern || form.ceoName.$error.minlength || form.ceoName.$error.maxlength}">
                    <label class="required-label">대표자 성명</label>
                    <small class="color_red" ng-show="form.ceoName.$error.pattern">잘못 입력하셨습니다.</small>
                    <small class="color_red" ng-if="form.ceoName.$error.minlength || form.ceoName.$error.maxlength">2~30자 이내</small>
                    <input type="text" class="form-control" name="ceoName" minlength="2" maxlength="30" limit='true' ng-pattern="/^[-가-힣A-Za-z0-9._ ]+$/"
                           ng-model="vm.Org.ceoName">
                </div>
                <div class="form-group" ng-class="{'has-error' : form.sectors.$error.pattern}">
                    <label>업태명</label>
                    <small class="color_red" ng-show="form.sectors.$error.pattern">잘못 입력하셨습니다.</small>
                    <input type="text" class="form-control" name="sectors" ng-pattern="/^[^ㄱ-ㅎㅏ-ㅣ]*$/"
                           ng-model="vm.Org.sectors">
                </div>
                <div class="form-group" ng-class="{'has-error' : form.address.$error.pattern}">
                    <label  class="voffset1">사업장 소재지</label>
                    <small class="color_red" ng-show="form.address.$error.pattern">잘못 입력하셨습니다.</small>
                    <input type="text" class="form-control" name="address" ng-pattern="/^[^ㄱ-ㅎㅏ-ㅣ]*$/"
                           ng-model="vm.Org.address">
                </div>

                <div class="form-group" ng-class="{'has-error' : form.homepageUrl.$error.pattern}">
                    <label>홈페이지 주소</label>
                    <small class="color_red" ng-if="form.homepageUrl.$error.pattern">(잘못 입력하셨습니다.)</small>
                    <input type="text" class="form-control" name="homepageUrl" ng-pattern="/^[-A-Za-z0-9:._?=/& ]+$/"
                           ng-model="vm.Org.homepageUrl">
                </div>
            </div> -->
            </form>
            <form name="form2" novalidate>
            <div class="voffset3">
                <div>
                    <label class="required-label">출금정보</label>
                </div>
                <table class="table" style="border:0 !important">
                    <colgroup>
                        <col style="width:21%">
                        <col style="width:20%">
                        <col style="width:28%">
                        <col/>
                        <col style="width:60px"/>
                    </colgroup>
                    <tbody>
                    <tr>
                        <td style="border:0" ng-class="{'has-error' : form2.accountAlias.$invalid}">
                            <input type="text" name="accountAlias" class="form-control" ng-model="vm.newW.accountAlias" placeholder="계좌별칭 입력" ng-pattern="/^[^ㄱ-ㅎㅏ-ㅣ]*$/" maxlength="10"/>
                        </td>
                        <td style="border:0" ng-class="{'has-error' : form2.bankName.$invalid}">
                            <input type="text" name="bankName" class="form-control" ng-model="vm.newW.bankName" placeholder="은행 입력" ng-pattern="/^[^ㄱ-ㅎㅏ-ㅣ]*$/" maxlength="10"/>
                        </td>
                        <td style="border:0" ng-class="{'has-error' : form2.accountNumber.$invalid}">
                           <input type="text" name="accountNumber" class="form-control" ng-model="vm.newW.accountNumber" placeholder="계좌번호 숫자만 입력" mask="9" repeat="20" minlength="1" maxlength="20" restrict="reject" limit="false" validate="false"/>
                        </td>
                        <td style="border:0" ng-class="{'has-error' : form2.description.$invalid}">
                            <input type="text" name="description" class="form-control" ng-model="vm.newW.description" placeholder="설명 입력" ng-pattern="/^[^ㄱ-ㅎㅏ-ㅣ]*$/" maxlength="20"/>
                        </td>
                        <td style="border:0" class="t_center">
                            <button type="button" class="btn-type2 color-type1" disabled ng-if="form2.$invalid || !vm.newW.accountAlias || !vm.newW.bankName || !vm.newW.accountNumber">
                                추가
                            </button>
                            <button type="button" class="btn-type2 color-type1" ng-click="vm.addWithdrawal()" ng-if="!(form2.$invalid || !vm.newW.accountAlias || !vm.newW.bankName || !vm.newW.accountNumber)">추가
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="voffset3">
                <table class="table tableFixed">
                    <colgroup>
                        <col style="width:21%">
                        <col style="width:20%">
                        <col style="width:25%">
                        <col/>
                        <col style="width:128px"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>별칭</th>
                        <th>은행</th>
                        <th>계좌번호</th>
                        <th>설명</th>
                        <th>비고</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="vm.Org.orgWithdrawals.length > 0" ng-repeat="withdrawal in vm.Org.orgWithdrawals">
                        <td>{{withdrawal.accountAlias}}
                            <label ng-show="withdrawal.isDefault" class="label label-info" style="cursor:default">기본계좌</label>
                        </td>
                        <td>{{withdrawal.bankName}}</td>
                        <td ng-if="!withdrawal.id">{{withdrawal.accountNumber}}</td>
                        <td ng-if="withdrawal.id" class="t_center">
                            <button uib-popover-template="vm.accountNumberPopover.templateUrl"
                                popover-title="계좌번호 조회"
                                popover-is-open="withdrawal.isOpen"
                                popover-trigger="outsideClick"
                                type="button"
                                ng-click="vm.accountNumberSearch(withdrawal)"
                                class="btn btn-default btn-xs">조회
                            </button>
                        </td>
                        <td>{{withdrawal.description}}</td>
                        <td class="t_left">
                            <button type="button" class="btn btn-default btn-xs" ng-if="!withdrawal.isDefault" ng-click="vm.setDefaultWithdrawalAccount(withdrawal)">기본계좌지정</button>
                            <button type="button" class="btn btn-default btn-xs pull-right" ng-if="!(withdrawal.isDefault || withdrawal.id)" ng-click="vm.delWithdrawal(withdrawal)">삭제</button>
                        </td>
                    </tr>
                    <tr ng-if="!vm.Org.orgWithdrawals.length">
                        <td class="t_center" colspan="5">등록된 출금 계좌가 없습니다.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </form>
            <form id="fileForm">
                <div class="voffset4">
                    <label class="control-label">기관인증자료 업로드(법인 및 사업자등록증, 통장사본 등)</label>
                    <div class="voffset2">
                        <p ng-repeat="file in vm.Org.attachFileList" ng-style="!$last && {'margin-bottom': '5px'}">
                            <span ng-click="vm.fileDown(file)" class="file-list-wrap">
                                <span class="file_name_info">{{file.fileName.split('\\').pop()}}</span>
                                <span class="file_size">{{vm.fileSize(file)}}</span>
                            </span>
                        </p>
                    </div>
                    <div class="voffset3">
                        <div ng-repeat="file in vm.files" id="inputFile{{$index}}" class="file-style-form">
                            <input id="hiddenInputFile-{{$index}}" class="form-control file-input" type="file" name="hiddenInputFile-{{$index}}" onchange="angular.element(this).scope().addFileInput(event)" ng-hide="true"/>
                            <div class="input-group">
                                <input id="viewInputFile{{$index}}" type="text" class="form-control" name="viewInputFile" placeholder="파일을 선택하세요" disabled>
                                <span class="input-group-btn">
                                    <button ng-if="!file.data || vm.files.length==1" class="btn btn-default file-btn" type="button" ng-click="vm.deletion=false; vm.selectFile($index);">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                    <button ng-if="file.data" class="btn btn-danger file-btn" type="button" ng-click="vm.deletion=true; vm.delInput($index, vm.files);">
                                        <i class="glyphicon glyphicon-minus"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- <dl class="form-group col-md-12 voffset3" style="overflow:hidden">
                <dt style="margin-bottom:6px">활용예정 API 제공기관
                    <small class="color_red" style="font-weight: 100">
                        <span> (수정불가)</span>
                    </small>
                </dt>
                <dd class="form-inline">
                    <span class="input-group" ng-repeat="provider in vm.providers" style="margin-right:5px; margin-bottom:5px;">
                        <span class="input-group-addon">
                            <input type="checkbox" id="{{provider.id}}" ng-model="provider.checked" ng-change="vm.checkProvider()" disabled>
                        </span>
                        <label for="{{provider.id}}" class="form-control">{{provider.name}}</label>
                    </span>
                </dd>
            </dl>
            <div ng-if="!vm.flagOfRegister && vm.Org.attachFileList.length > 0">
                <label class="voffset3">첨부파일</label>
                <p ng-repeat="file in vm.Org.attachFileList" ng-style="!$last && {'margin-bottom': '5px', 'padding-bottom': '4px'}">
                    <span ng-click="vm.fileDown(file)">&emsp;
                        <span class="label label-info file va_m">{{$index+1}}</span>
                        <span style="vertical-align:-2px; font-size:.85em">{{file.fileName.split('\\').pop()}}</span>
                        <span style="line-height:14px; margin-left:10px" class="label label-success">{{vm.fileSize(file)}}</span>
                    </span>
                </p>
            </div>


            <div class="form-group col-md-12 voffset4">
                <label>기관 소속 사용자</label>
                <button style="margin-left:10px" class="btn btn-default btn-xs" ng-click="vm.addUsers()">추가</button>
                <div class="table-responsive voffset2">
                    <table class="table tableFixed">
                        <colgroup>
                            <col style="width:22%" />
                            <col style="width:25%" />
                            <col />
                            <col style="width:116px" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">권한</th>
                                <th scope="col">이름</th>
                                <th scope="col">이메일</th>
                                <th scope="col">비고</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-style="user.state !='ACTIVE' && {'color':'#ddd'}" ng-repeat="user in vm.users">
                                <td scope="row" style="text-align:left">{{user.role.name}}</td>
                                <td scope="row" style="text-align:left">{{user.fullName}}
                                    <label ng-show="user.isManager" class="label label-info" style="cursor:default">관리자</label>
                                </td>
                                <td scope="row" style="text-align:left">{{user.email}}</td>
                                <td class="text-center">
                                    <button type="button" ng-disabled="user.state !='ACTIVE'" ng-show="!user.isManager" class="btn btn-default btn-xs" ng-click="vm.setManager(user)">관리자지정</button>
                                    <button type="button" ng-show="!user.isManager" class="btn btn-danger btn-xs" ng-click="vm.delUser(user, $index)">제거</button>
                                </td>
                            </tr>
                            <tr ng-if="vm.users.length == 0">
                                <td class="t_center" colspan="4">등록된 사용자가 없습니다.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> -->
            <div ng-if="vm.Org.state !='APPROVING'" class="btn-center-wrap">
                <button type="button" disabled class="btn-type1 just_left" ng-if="form.$invalid || vm.lengthChecked" >저장</button>
                <button type="button" ng-click="vm.save()" class="btn-type1 just_left" ng-if="!(form.$invalid || vm.lengthChecked)" >저장</button>
                <button type="button" disabled class="btn-type1 just_right" ng-if="vm.Org.state !='UPDATING'">승인요청</button>
                <button type="button" ng-click="vm.requestApproval()" class="btn-type1 just_right" ng-if="vm.Org.state =='UPDATING'">승인요청</button>
            </div>
            <!-- <div ng-if="vm.Org.state !='APPROVING'" class="form-group col-md-12 voffset5" style="text-align: center">
                <button type="button" disabled class="btn btn-portal btn-flag-radius" style="padding: 7px 30px;" ng-if="form.$invalid || vm.lengthChecked" >저장</button>
                <button type="button" ng-click="vm.save()" class="btn btn-portal btn-flag-radius" style="padding: 7px 30px;" ng-if="!(form.$invalid || vm.lengthChecked)" >저장</button>
                <button type="button" disabled class="btn btn-danger btn-flag-radius2" ng-if="vm.Org.state !='UPDATING'">승인요청</button>
                <button type="button" ng-click="vm.requestApproval()" class="btn btn-danger btn-flag-radius2" ng-if="vm.Org.state =='UPDATING'">승인요청</button>
            </div> -->
        </div>
</div>

