<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true" ng-click="vm.clear()"></button>
    <h4 class="modal-title" id="myUserLabel"
        data-translate="apiList.detail.title">API 상세</h4>
</div>
<div class="modal-body row">
    <div class="col-md-4" style="padding-right: 0;">
        <div class="form-box">
            <div class="form-group">
                <label class="control-label" for="apiName" data-translate="apiList.register.name">API name</label>
                <span ng-if="!vm.forPartner" class="pull-right new-form-group">
                    <input type="checkbox" id="isPrivate" name="isPrivate" ng-model="vm.api.isPrivate" ng-disabled="true"/>
                    <label for="isPrivate" data-translate="apiList.register.isPrivate" style="font-size:14px;">Is Private</label>
                </span>
                <textarea disabled rows="2" title="{{vm.api.name}}" type="text" class="form-control" id="apiName" name="apiName" ng-model="vm.api.name"
                       ng-pattern="/^[-가-힣A-Za-z0-9._ ]{1,30}$/" required ng-blur="vm.checkDuplicated('apiName')"/>
            </div>
            <div class="form-group">
                <label for="apiDescription" class="control-label" data-translate="apiList.description">API 설명</label>
                <textarea ng-disabled="true" id="apiDescription" class="form-control newTextArea" ng-model="vm.api.description" rows="6"></textarea>
            </div>
            <div ng-if="!vm.forPartner">
                <label class="control-label" data-translate="apiList.plans">API Plans</label>
                <div class="list-adjust" style="margin-top:5px; min-height: 36px;">
                    <div class="apiPlanWrap" ng-repeat="plan in vm.api.applicablePlans" ng-init="plan.apiPlanInform = false">
                        <button type="button" ng-class="{'on' : plan.apiPlanInform}" class="btn btn-default btn-xs apiplan" ng-click="plan.apiPlanInform = !plan.apiPlanInform">
                            <span class="dotContainer text-left">{{plan.name}}</span>
                        </button>
                        <dl class="apiplanDl" ng-if="plan.apiPlanInform">
                            <dd>
                                <span class="leftKey">할 당 량</span>
                                <span ng-if="!plan.quotaValue">제한없음</span>
                                <span ng-if="plan.quotaValue">{{plan.quotaValue | number}}건 / {{vm.filter(plan.quotaTimeUnit, 1)}}</span>
                            </dd>
                            <dd>
                                <span class="leftKey">초당 처리량</span>
                                <span ng-if="!plan.maxRequestRate">제한없음</span>
                                <span ng-if="plan.maxRequestRate">{{plan.maxRequestRate | number}}건</span>
                            </dd>
                            <dd>
                                <span class="leftKey">시간 제한</span>
                                <span ng-if="!plan.controlTime">제한없음</span>
                                <span ng-if="plan.controlTime">{{plan.startTime}} ~ {{plan.endTime}}</span>
                            </dd>
                            <dd>
                                <span class="leftKey">요일 제한</span>
                                <span ng-if="!plan.controlDay">제한없음</span>
                                <span ng-if="plan.controlDay">{{vm.filter(plan.startDayOfWeek)}} ~ {{vm.filter(plan.endDayOfWeek)}}</span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="form-group voffset3">
                <label class="control-label">API 명세서</label>
                <small>(WADL | Swagger)</small>
                <div>
                    <p class="voffset2" ng-if="vm.api.specFile">
                        <span ng-click="vm.fileDown(vm.api.specFile)" class="file-list-wrap">
                            <!-- <span class="label label-info">1</span> -->
                            <span class="file_name_info">{{vm.api.specFile.fileName.split('\\').pop()}}</span>
                            <span class="file_size">{{vm.fileSize(vm.api.specFile)}}</span>
                        </span>
                    </p>
                    <p style="padding:10px;" ng-if="!vm.api.specFile">
                        <small class="color_red"> · (없음)</small>
                    </p>
                </div>
            </div>
            <div ng-if="!vm.forPartner" class="form-group">
                <label class="control-label">API 설명서</label>
                <div>
                    <p class="voffset2" ng-repeat="file in vm.api.attachFileList">
                        <span ng-click="vm.fileDown(file)" class="file-list-wrap">
                            <span class="file_name_info">{{file.fileName.split('\\').pop()}}</span>
                            <span class="file_size">{{vm.fileSize(file)}}</span>
                        </span>
                    </p>
                    <p style="padding:10px;" ng-if="!vm.api.attachFileList.length">
                        <small class="color_red"> · (없음)</small>
                    </p>
                </div>
            </div>
            <div ng-if="!vm.forPartner" class="form-group">
                <label for="terms" class="control-label" data-translate="apiList.terms">Terms</label>
                <p ng-if="vm.api.termsOfUse" style="padding:10px;">
                    · {{vm.api.termsOfUse.name}}
                    <button ng-click="vm.showTermsContent();"
                            class="btn btn-default btn-xs success2"
                            style="vertical-align: 2px; border-radius: 2px; float: right; margin-right: -10px;"
                            data-translate="entity.action.term">약관보기
                    </button>
                </p>
                <p style="padding:10px;" ng-if="!vm.api.termsOfUse">
                    <small class="color_red"> · (없음)</small>
                </p>
            </div>
            <div ng-if="!vm.forPartner">
                <label for="billingPolicy" class="control-label" data-translate="apiList.billingPolicy">BillingPolicy</label>
                <p ng-if="vm.api.billingPolicy" style="padding:10px;">
                    · {{vm.api.billingPolicy.name}}
                    <button ng-click="vm.showBillingPolicies();"
                            class="btn btn-default btn-xs success2"
                            id="billingPolicyButton"
                            style="vertical-align: 2px; border-radius: 2px; float: right; margin-right: -10px;"
                            data-translate="entity.action.billingPolicy">show billingPolicies content
                    </button>
                </p>
            </div>
        </div>
    </div>
    <div ng-if="vm.forPartner" class="col-md-8">
        <div class="form-box">
            <div>
                <label for="proxyURLInput" class="control-label">URL <small style="font-weight:normal">( https://Gateway_URL:8443/ )</small></label>
                <input ng-disabled="true" type="text" id="proxyURLInput" name="proxyURLInput" class="form-control" value="{{vm.api.urlPattern}}" required/>
            </div>
        </div>
    </div>
    <div ng-if="vm.forPartner" class="col-md-4" style="padding-right: 0;">
        <div class="form-box">
            <div class="form-group">
                <label class="control-label">API 설명서</label>
                <div>
                    <p class="voffset2" ng-repeat="file in vm.api.attachFileList">
                        <span ng-click="vm.fileDown(file)">
                            <span class="label label-info">{{$index+1}}</span>
                            <span class="dotContainer" style="width:73%; font-size:.85em; vertical-align:-6px">{{file.fileName.split('\\').pop()}}</span>
                            <span class="label label-success pull-right" style="padding:4px">{{vm.fileSize(file)}}</span>
                        </span>
                    </p>
                    <p style="padding:10px;" ng-if="!vm.api.attachFileList.length">
                        <small class="color_red"> · (없음)</small>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" data-translate="apiList.terms">Terms</label>
                <p ng-if="vm.api.termsOfUse" style="padding:10px;">
                    · {{vm.api.termsOfUse.name}}
                    <button ng-click="vm.showTermsContent();"
                            class="btn btn-default btn-xs success2"
                            style="vertical-align: 2px; border-radius: 2px; float: right; margin-right: -10px;"
                            data-translate="entity.action.term">약관보기
                    </button>
                </p>
                <p style="padding:10px;" ng-if="!vm.api.termsOfUse">
                    <small class="color_red"> · (없음)</small>
                </p>
            </div>
            <div>
                <label class="control-label" data-translate="apiList.billingPolicy">BillingPolicy</label>
                <p ng-if="vm.api.billingPolicy" style="padding:10px;">
                    · {{vm.api.billingPolicy.name}}
                    <button ng-click="vm.showBillingPolicies();"
                            class="btn btn-default btn-xs success2"
                            id="billingPolicyButton"
                            style="vertical-align: 2px; border-radius: 2px; float: right; margin-right: -10px;"
                            data-translate="entity.action.billingPolicy">show billingPolicies content
                    </button>
                </p>
            </div>
        </div>
    </div>
    <div ng-if="vm.forPartner" class="col-md-4" style="padding-right: 0;">
        <div class="form-box">
            <div class="form-group">
                <label class="control-label" data-translate="apiList.plans">API Plans</label>
                <div class="list-adjust" style="margin-top:5px; min-height: 36px;">
                    <div class="apiPlanWrap" ng-repeat="plan in vm.api.applicablePlans" ng-init="plan.apiPlanInform = true">
                        <button type="button" ng-class="{'on' : plan.apiPlanInform}" class="btn btn-default btn-xs apiplan" ng-click="plan.apiPlanInform = !plan.apiPlanInform">
                            <span class="dotContainer text-left">{{plan.name}}</span>
                        </button>
                        <dl class="apiplanDl" ng-if="plan.apiPlanInform">
                            <dd class="apiplanDd">
                                <span class="leftKey">할 당 량</span>
                                <span class="rightValue" ng-if="!plan.quotaValue">제한없음</span>
                                <span ng-if="plan.quotaValue">{{plan.quotaValue | number}}건 / {{vm.filter(plan.quotaTimeUnit, 1)}}</span>
                            </dd>
                            <dd>
                                <span class="leftKey">초당 처리량</span>
                                <span ng-if="!plan.maxRequestRate">제한없음</span>
                                <span ng-if="plan.maxRequestRate">{{plan.maxRequestRate | number}}건</span>
                            </dd>
                            <dd>
                                <span class="leftKey">시간 제한</span>
                                <span ng-if="!plan.controlTime">제한없음</span>
                                <span ng-if="plan.controlTime">{{plan.startTime}} ~ {{plan.endTime}}</span>
                            </dd>
                            <dd>
                                <span class="leftKey">요일 제한</span>
                                <span ng-if="!plan.controlDay">제한없음</span>
                                <span ng-if="plan.controlDay">{{vm.filter(plan.startDayOfWeek)}} ~ {{vm.filter(plan.endDayOfWeek)}}</span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!vm.forPartner" class="col-md-4" ng-style="!vm.forPartner && {'padding-right': '0'}">
        <div class="form-box">
            <div class="form-group">
                <label for="proxyURLInput" class="control-label">URL <small style="font-weight:normal">( https://Gateway_URL:18443/ )</small></label>
                <input ng-disabled="true" type="text" id="proxyURLInput" name="proxyURLInput" class="form-control" value="{{vm.api.urlPattern}}" required/>
            </div>
            <div class="form-group">
                <label for="apiRequestURL" class="control-label" data-translate="apiList.apiRequestURL">API Request URL</label>
                <input ng-disabled="true" type="text" id="apiRequestURL" name="apiRequestURL" class="form-control" ng-model="vm.api.routingUrl" required/>
            </div>
            <!-- <div class="form-group">
                <label for="requiredAuthentication" class="control-label" data-translate="apiList.requiredAuthentication">필요한 인증</label>
                <select ng-disabled="true" id="requiredAuthentication" class="form-control"
                        ng-options="o.name for o in vm.requiredAuths track by o.key"
                        ng-model="vm.api.requiredAuthentication" ng-change="vm.selectRequireAuthentication()" required>
                    <option value="">선택</option>
                </select>
            </div> -->
            <!-- <div style="margin-top: 30px">
                <input ng-disabled="true" type="checkbox" id="addSSL" ng-model="vm.api.requireSSL"/>
                <label for="addSSL" data-translate="apiList.addSSL">SSL 사용여부</label>
            </div> -->
            <div>
                <div class="form-group voffset3">
                    <input type="checkbox" id="apiAddSettings" ng-model="vm.api.AddSettingsView"/>
                    <label for="apiAddSettings" data-translate="apiList.apiAddSettings">추가설정</label>
                </div>
                <div class="form-group registerModal" ng-if="vm.api.AddSettingsView">
                    <dl>
                        <dt><span data-translate="apiList.SQLAttacks">SQL Attacks</span>
                            <button uib-popover-template="vm.sqlhelpPopover.templateUrl"
                                    popover-title="도움말 : SQL Attack"
                                    popover-is-open="vm.isSqlHelpOpen"
                                    popover-trigger="outsideClick"
                                    type="button"
                                    style="border-radius: 2px; float: right;"
                                    class="btn btn-default btn-xs" data-translate="entity.action.help">Popover With Template
                            </button>
                        </dt>
                        <dd>
                            <input ng-disabled="true" id="msSql" type="checkbox" ng-model="vm.api.sqlInjectionProtection.msSql"/>
                            <label for="msSql">Known MS SQL Server Exploits Protection</label>
                        </dd>
                        <dd>
                            <input ng-disabled="true" id="oraSql" type="checkbox" ng-model="vm.api.sqlInjectionProtection.oraSql"/>
                            <label for="oraSql">Known Oracle Exploit Protection</label>
                        </dd>
                        <dd>
                            <input ng-disabled="true" id="standardSql" type="checkbox" ng-model="vm.api.sqlInjectionProtection.standardSql"/>
                            <label for="standardSql">Standard SQL Injection Attack Protection</label>
                        </dd>
                        <dd>
                            <input ng-disabled="true" id="invasiveSql" type="checkbox" ng-model="vm.api.sqlInjectionProtection.invasiveSql"/>
                            <label for="invasiveSql">Invasive SQL Injection Attack Protection</label>
                        </dd>
                    </dl>
                    <dl>
                        <dt><span>Injection Attack(공격)</span>
                            <button uib-popover-template="vm.injectionhelpPopover.templateUrl"
                                    popover-title="도움말 : Injection"
                                    popover-is-open="vm.isInjectionHelpOpen"
                                    popover-trigger="outsideClick"
                                    type="button"
                                    style="border-radius: 2px; float: right;"
                                    class="btn btn-default btn-xs" data-translate="entity.action.help">Popover With Template
                            </button>
                        </dt>
                        <dd>
                            <input ng-disabled="true" id="htmlJavascript" type="checkbox" ng-model="vm.api.codeInjectionProtection.htmlJavascript"/>
                            <label for="htmlJavascript">HTML/JavaScript Injection (Cross Site Scripting)</label>
                        </dd>
                        <dd>
                            <input ng-disabled="true" id="phpEval" type="checkbox" ng-model="vm.api.codeInjectionProtection.phpEval"/>
                            <label for="phpEval">PHP eval Injection</label>
                        </dd>
                        <dd>
                            <input ng-disabled="true" id="shell" type="checkbox" ng-model="vm.api.codeInjectionProtection.shell"/>
                            <label for="shell">Shell Injection</label>
                        </dd>
                        <dd>
                            <input ng-disabled="true" id="ldapDn" type="checkbox" ng-model="vm.api.codeInjectionProtection.ldapDn"/>
                            <label for="ldapDn">LDAP DN Injection</label>
                        </dd>
                        <dd>
                            <input ng-disabled="true" id="ldapSearch" type="checkbox" ng-model="vm.api.codeInjectionProtection.ldapSearch"/>
                            <label for="ldapSearch">LDAP Search Injection</label>
                        </dd>
                        <dd>
                            <input ng-disabled="true" id="xpath" type="checkbox" ng-model="vm.api.codeInjectionProtection.xpath"/>
                            <label for="xpath">XPath Injection</label>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4" ng-if="!vm.forPartner">
        <div class="form-box">
            <div ng-show="!vm.forPartner && vm.gatewayClusters.length != 1" class="form-group">
                <label for="gatewayCluster" class="control-label" data-translate="apiList.gatewayClusterInfo">Gateway cluster information</label>
                <select ng-disabled="true" id="gatewayCluster" class="form-control"
                        ng-options="gatewayCluster.description for gatewayCluster in vm.gatewayClusters track by gatewayCluster.id"
                        ng-model="vm.api.gatewayCluster"
                        ng-change="vm.changeGatewayCluster()" ng-disabled="vm.gatewayClusterDisabled" required>
                    <option value="">선택</option>
                </select>
            </div>
            <div ng-show="!vm.forPartner" class="form-group">
                <label for="fragment" class="control-label" data-translate="apiList.fragment" required>Fragment</label>
                <input type="text" class="form-control" ng-model="vm.api.fragments[0].fragment.name" disabled/>
            </div>

            <div class="form-group" ng-if="vm.api.fragments[0].fragment">
                <label ng-show="!vm.forPartner" class="control-label">옵션설정</label>
                <div class="registerModal voffset2" ng-repeat="parameter in vm.api.fragments[0].parameters">
                    <dl ng-show="!vm.forPartner && parameter.key != 'organizationcode' && parameter.key !=  'apiScope'"> <!-- organizationcode는 서버에서 입력하는 값 -->
                        <dt ng-hide="vm.api.fragments[0].parameters[$index-1].key=='message.limit.check' && vm.api.fragments[0].parameters[$index-1].value=='false'">{{parameter.label}}</dt>
                        <dd>
                            <input ng-if="parameter.type == 'string'" type="text" class="msg_size form-control"
                                   ng-model="parameter.value" disabled/>
                            <input ng-if="parameter.type == 'int' && !(vm.api.fragments[0].parameters[$index-1].key=='message.limit.check' && vm.api.fragments[0].parameters[$index-1].value=='false')" type="text" class="msg_size form-control"
                                   style="text-align:right" ng-init="vm.toNumFormat(parameter)"
                                   ng-model="parameter.value" disabled/>
                               <span ng-if="parameter.type != 'string' && parameter.type != 'int'">
                                    <input id="gatewayT_{{$index}}" name="gateway_{{$index}}" type="radio"
                                           ng-model="parameter.value" value="true" disabled/>
                                    <label for="gatewayT_{{$index}}">True</label>
                                    <input id="gatewayF_{{$index}}" name="gateway_{{$index}}" type="radio"
                                           ng-click="(parameter.key=='message.limit.check')? vm.api.fragments[0].parameters[$index+1].value='' : vm.abcd();"
                                           ng-model="parameter.value" value="false" disabled/>
                                    <label for="gatewayF_{{$index}}">False</label>
                                </span>
                        </dd>
                    </dl>
                    <dl ng-show="parameter.key == 'apiScope'">
                        <dt>로그인 타입</dt>
                        <dd ng-if="vm.existingScope">
                            <select id="scope" name="scope" class="form-control"
                                    ng-options="scope.scope as scope.name for scope in vm.scopes"
                                    ng-model="parameter.value" disabled>
                                <option value="">-사용 안함-</option>
                            </select>
                        </dd>
                        <dd ng-if="!vm.existingScope">
                            <input class="form-control" ng-model="parameter.value" disabled>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default modalBtn cancel" data-dismiss="modal" ng-click="vm.clear()">
        닫기
    </button>
</div>
